---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="location-banner">
  <div class="location-banner__bg">
    <img src="./img/locations-banner-bg.svg" alt="" />
  </div>
  <div class="container location-banner__container">
    <div class="location-banner__content">
      <div class="location-banner__head">
        <h1 class="title-1 location-banner__title">Прокси Индия</h1>
        <p class="label-l c-grey-6 location-banner__text">
          Зафиксируйте максимум локальных метрик на территории Индии с помощью
          тарифного пакета резидентных и мобильных прокси от Froxy, который
          подходит вам лучше всего. Наши тарифы включают до 1000 портов, 99%
          времени безотказной работы, а также техническую поддержку и
          соответствующие IP-адреса по всей Индии.
        </p>
      </div>

      <DefaultBtn
        component="a"
        href="https://dashboard.mangoproxy.com/ru/quick-purchase"
        target="_blank"
        icon
      >
        Быстрый тест
      </DefaultBtn>
    </div>

    <div class="location-item location-item_big">
      <Sprite class="location-item__pin" name="map-pin_fill" />
      <img src="./img/flags/IN.svg" alt="" class="location-item__img" />
      <span class="location-item__inner">
        <span class="label-m location-item__title">Индия</span>
        <span class="label-m bold location-item__text"> 3542 IPs</span>
      </span>
    </div>
  </div>

  <div class="location-banner__adv">
    <div class="container rp-advantages__container">
      <div class="rp-advantages-item">
        <h4 class="title-3 regular rp-advantages-item__title">Анонимность</h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Mango гарантирует надежные, безопасные и абсолютно анонимные
          IP-адреса. Парсинг данных с домашних и мобильных прокси индийских
          провайдеров представляет собой новый шаг в анализе данных в регионах и
          мониторинге активности конкурирующих брендов.
        </p>
      </div>
      <div class="rp-advantages-item">
        <h4 class="title-3 regular rp-advantages-item__title">Таргетинг</h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Используйте гибкие настройки геолокации, выбирая страну, город и
          интернет-провайдеров. С мобильными прокси Froxy у вас будет широкий
          охват социальных сетей и других цифровых платформ для отслеживания
          максимального количества полезных показателей с гарантией полной
          анонимности.
        </p>
      </div>
      <div class="rp-advantages-item">
        <h4 class="title-3 regular rp-advantages-item__title">Гибкость</h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Выбор тарифных пакетов для доступа к индийским прокси от Froxy
          позволяет получить 3-дневную пробную версию за символическую плату или
          выбрать максимальный план «Предприятие» с 600 мобильными или 1000
          резидентными портами. Широкий выбор тарифных пакетов прокси от Froxy
          поможет вам в целевом сборе данных.
        </p>
      </div>
      <div class="rp-advantages-item">
        <h4 class="title-3 regular rp-advantages-item__title">
          Обход блокировок
        </h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Выбор тарифных пакетов для доступа к индийским прокси от Froxy
          позволяет получить 3-дневную пробную версию за символическую плату или
          выбрать максимальный план «Предприятие» с 600 мобильными или 1000
          резидентными портами. Широкий выбор тарифных пакетов прокси от Froxy
          поможет вам в целевом сборе данных.
        </p>
      </div>
    </div>
  </div>
</section>
