---
import { Sprite } from "astro-icon";
---

<div class="pagination">
  <a href="#" class="text-btn pagination__btn disabled">
    <Sprite name="arrow-left" />
     Назад
  </a>
  <div class="pagination__list">
    <span class="text-caps pagination__link _active">01</span>
    <a href="#" class="text-caps pagination__link">2</a>
    <a href="#" class="text-caps pagination__link">3</a>
    <span class="text-caps pagination__link">...</span>
    <a href="#" class="text-caps pagination__link">8</a>
    <a href="#" class="text-caps pagination__link">9</a>
    <a href="#" class="text-caps pagination__link">10</a>
  </div>
  <a href="#" class="text-btn pagination__btn">
    Вперед
    <Sprite name="arrow-right" />
  </a>
</div>
