---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
---

<section class="case-browsers">
  <div class="container case-browsers__container">
    <div class="case-browsers__head">
      <h3 class="title-2 case-browsers__title">
        Совместимостьс антидетект-браузерами
      </h3>
      <p class="label-l c-grey-6 case-browsers__text">
        Гарантия бесперебойной работы независимо от используемых инструментов.
      </p>
    </div>

    <!-- <div class="case-browsers__inner"> -->
    <div class="case-browsers__list">
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-11.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title"> AdsPower</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-1.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Dolphin Anty</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-12.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title"> Incogniton</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-13.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title"> GoLogin Proxy</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title"> Multilogin</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-14.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-4.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title"> Octo Browser</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-14.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-14.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-14.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-14.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
    </div>
    <!-- </div> -->

    <div class="case-browsers__bottom">
      <p class="label-l c-grey-5 uppercase case-browsers__bottom-text">
        Вы можете положиться на нашу систему: она обеспечит стабильное
        и надежное соединение, подходящее для любых ваших настроек.
      </p>
      <DefaultBtn component="a" href="#" icon>
        Подключиться прямо сейчас
      </DefaultBtn>
    </div>
  </div>
</section>
