// 
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// 
@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nekst";
  src: url("../fonts/Nekst-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

// 
@font-face {
  font-family: "PTMono";
  src: url("../fonts/PTMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}