@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin hover() {
  @media (hover) {
    &:hover {
      @content;
    }
  }

  // @media (hover: none) {
  //   &:active {
  //     @content;
  //   }
  // }
}

@mixin img() {

  img,
  picture,
  video {
    @content;
  }
}

@mixin scroll() {
  &::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-5;
    border-radius: 1rem;
  }
}

@mixin lineClamp($count) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $count;
  line-clamp: $count;
  -webkit-box-orient: vertical;
}

@mixin label-l {
  font-size: 1.8rem;
  line-height: 1.33;
}

@mixin label-m {
  font-size: 1.6rem;
  line-height: 1.25;
}

@mixin label-s {
  font-size: 1.4rem;
  line-height: 1.4;
}

@mixin title-1 {
  font-family: $f-sora;
  font-size: 6.4rem;
  line-height: 1.06;
  font-weight: 600;
}

@mixin title-2 {
  font-family: $f-sora;
  font-size: 4.8rem;
  line-height: 1.08;
  font-weight: 600;
}

@mixin title-3 {
  font-family: $f-sora;
  font-size: 3.2rem;
  line-height: 1.125;
}

@mixin title-4 {
  font-family: $f-sora;
  font-size: 2.4rem;
  line-height: 1.08;
}

@mixin title-5 {
  font-family: $f-sora;
  font-size: 2.2rem;
  line-height: 1.4;
}

@mixin title-6 {
  font-family: $f-sora;
  font-size: 2rem;
  line-height: 1.4;
}