$xl-bp: 1920px;
$xm-bp: 1440px;
$sm-bp: 768px;
$xs-bp: 600px;

// fonts
$f-sans: "DMSans";
$f-sora: "Sora";

// colors
$white: #FFFFFF;

$grey-2: #FAFAFA;
$grey-5: #D9D9D9;
$grey-7: #8C8C8C;
$grey-8: #595959;
$grey-9: #434343;
$grey-13: #0D0D0D;

$c-500: #FDB602;
$c-400: #FFD61D;
$c-300: #FFE647;

$c-950: #471F01;