$xl-bp: 1920px;
$xm-bp: 1790px;
$sm-bp: 768px;
$xs-bp: 600px;

// fonts
$f-sans: "DM Sans", system-ui;
$f-sora: "Sora", system-ui;

// colors
$white: #FFFFFF;

$grey-2: #FAFAFA;
$grey-3: #F5F5F5;
$grey-4: #F0F0F0;
$grey-5: #D9D9D9;
$grey-6: #BFBFBF;
$grey-7: #8C8C8C;
$grey-8: #595959;
$grey-9: #434343;
$grey-10: #262626;
$grey-11: #1F1F1F;
$grey-13: #0D0D0D;

$c-600: #E08C00;
$c-500: #FDB602;
$c-400: #FFD61D;
$c-300: #FFE647;
$c-950: #471F01;

$c-modal-bg: rgba(13, 13, 13, 0.7);