---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
---

<section class="integration" data-tab-controller>
  <div class="integration__top">
    <div class="container integration__container">
      <div class="integration__head">
        <h1 class="title-1 integration__title">
          Используйте прокси со всем вашим любимым софтом!
        </h1>
        <p class="label-l c-grey-6 integration__text">
          «Mango Proxy» работает с любым софтом, обеспечивая безопасность и
          анонимность в интернете!
        </p>
        <DefaultBtn
          component="a"
          href="https://dashboard.mangoproxy.com/ru/quick-purchase"
          target="_blank"
          icon
          class="integration__head-btn cta-quick-purchase"
        >
          Подключиться сейчас
        </DefaultBtn>
      </div>

      <div class="integration-preview">
        <div class="integration-preview__bg">
          <img src="./img/integration-bg.svg" alt="" />
        </div>
        <div class="integration-preview__list">
          <div class="integration-preview__item">
            <img src="./img/logo/logo-15.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-16.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-11.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-5.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-1.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-10.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-12.svg" alt="" />
          </div>
          <div class="integration-preview__item">
            <img src="./img/logo/logo-4.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="integration-tabs" data-tab-btns>
        <button
          type="button"
          class="hover:500 title-4 regular integration-tabs__btn _active"
          data-tab-btn="1"
        >
          Все интеграции
        </button>
        <button
          type="button"
          class="hover:500 title-4 regular integration-tabs__btn"
          data-tab-btn="2"
        >
          Aнтидетект-браузеры
        </button>
        <button
          type="button"
          class="hover:500 title-4 regular integration-tabs__btn"
          data-tab-btn="3"
        >
          Скрапинг инструменты
        </button>
      </div>
    </div>
  </div>

  <div class="integration__wrapper">
    <div class="integration__list _active" data-tab="1">
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-3.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Incogniton</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-11.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">AdsPower</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-1.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Dolphin Anty</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-3.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Incogniton</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-2.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">GoLogin Proxy</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Multilogin</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-6.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-4.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Octo Browser</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-9.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">ParseHub</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-10.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Helium Scraper</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-8.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Octoparse</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-10.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Helium Scraper</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-7.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">PhantomBuster</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Multilogin</span>
      </a>
    </div>
    <div class="integration__list" data-tab="2">
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Multilogin</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-6.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-4.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Octo Browser</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-9.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">ParseHub</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-10.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Helium Scraper</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-8.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Octoparse</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-10.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Helium Scraper</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-7.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">PhantomBuster</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Multilogin</span>
      </a>
    </div>
    <div class="integration__list" data-tab="3">
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-1.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">AdsPower</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-1.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Dolphin Anty</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-3.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Incogniton</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-2.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">GoLogin Proxy</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-5.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Multilogin</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-6.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Undetectable</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-4.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Octo Browser</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-9.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">ParseHub</span>
      </a>
      <a href="#" class="case-browsers-item">
        <img
          src="./img/logo/logo-10.svg"
          alt=""
          class="case-browsers-item__logo"
        />
        <span class="label-l case-browsers-item__title">Helium Scraper</span>
      </a>
    </div>
  </div>
</section>
