---
// @ts-nocheck
import { Sprite } from "astro-icon";
import type { IUIButtonAttributes, IUIVariableComponent } from "src/interface";

interface Props
  extends IUIButtonAttributes,
    IUIVariableComponent,
    astroHTML.JSX.ButtonHTMLAttributes {
  variant?: "stroke";
  size?: "medium" | "small";
  color?: "primary" | "secondary";
  icon?: boolean;
}

const {
  component: Wrapper = "button",
  icon,
  variant,
  size,
  color,
  ...props
} = Astro.props;
---

<Wrapper
  class="default-btn label-l"
  class:list={[
    {
      "default-btn_icon": icon,
      ["default-btn_" + color]: color,
      ["default-btn_" + variant]: variant,
      ["default-btn_" + size]: size,
    },
  ]}
  {...props}
>
  {
    icon ? (
      <>
        <span class="default-btn__text">
          <slot />
        </span>
        <span class="default-btn__icon">
          <Sprite name="arrow-right" />
        </span>
      </>
    ) : (
      <slot />
    )
  }
</Wrapper>
