.default-btn {
  --mw: 21rem;
  --iw: 5.6rem;
  height: 5.6rem;
  padding: 0rem 1.6rem;
  border: 0.1rem solid $c-500;
  border-radius: 0.8rem;
  background-color: $c-500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  min-width: var(--mw, 21rem);
  color: $c-950;
  transition: .3s;

  @include hover {
    background-color: $c-400;
    border-color: $c-400;
  }

  &:active {
    background-color: $c-300;
    border-color: $c-300;
  }

  &:disabled {
    background-color: $grey-5;
    border-color: $grey-5;
    color: $grey-7;
    pointer-events: none;
    user-select: none;
  }

  // icon
  &_icon {
    border: none;
    background-color: unset;
    padding: 0;
    border-radius: 0;

    @include hover {
      background-color: unset;

      .default-btn {
        &__text {
          background-color: $c-400;
          border-color: $c-400;
        }

        &__icon {
          background-color: $c-400;
          border-color: $c-400;
        }
      }
    }

    &:active {
      .default-btn {
        &__text {
          background-color: $c-300;
          border-color: $c-300;
        }

        &__icon {
          background-color: $c-300;
          border-color: $c-300;
        }
      }
    }

    &:disabled {
      background-color: unset;

      .default-btn {
        &__text {
          background-color: $grey-5;
          border-color: $grey-5;
        }

        &__icon {
          background-color: $grey-5;
          border-color: $grey-5;
        }
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    min-width: var(--mw, 21rem);
    padding: 0rem 1.6rem;
    border: 0.1rem solid $c-500;
    border-radius: 0.8rem;
    height: 100%;
    background-color: $c-500;
    transition: background-color .3s, border-color .3s;
  }

  &__icon {
    height: 100%;
    width: var(--iw, 5.6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid $c-500;
    border-radius: 0.8rem;
    background-color: $c-500;
    transition: background-color .3s, border-color .3s;
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  // sizes
  &_medium {
    --mw: 18.5rem;
    --iw: 4.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
    line-height: 1.25;
  }

  &_small {
    --mw: 17.2rem;
    --iw: 4rem;
    height: 4rem;
  }

  // variants
  &_stroke {
    background-color: transparent;
    color: $white;

    @include hover {
      color: $c-950;
    }

    .default-btn {
      &__text {
        background-color: transparent;
      }

      &__icon {
        background-color: transparent;
      }
    }
  }

  // colors
  &_primary {
    color: $white;
    border-color: $grey-13;

    &:not(.default-btn_icon) {
      background-color: $grey-13;

      @include hover {
        background-color: $white;
        border-color: $white;
      }

      &:active {
        background-color: $grey-2;
        border-color: $grey-2;
      }
    }

    @include hover {
      border-color: $white;
      color: $grey-13;

      .default-btn {
        &__text {
          background-color: $white;
          border-color: $white;
          color: $grey-13;
        }

        &__icon {
          background-color: $white;
          border-color: $white;
          color: $grey-13;
        }
      }
    }

    &:active {
      .default-btn {
        &__text {
          background-color: $grey-2;
          border-color: $grey-2;
          color: $grey-13;
        }

        &__icon {
          background-color: $grey-2;
          border-color: $grey-2;
          color: $grey-13;
        }
      }
    }

    .default-btn {
      &__text {
        background-color: $grey-13;
        border-color: $grey-13;
      }

      &__icon {
        background-color: $grey-13;
        border-color: $grey-13;
      }
    }
  }

  &_secondary {
    color: $c-500;
    border-color: $grey-13;

    &:not(.default-btn_icon) {
      background-color: $grey-13;

      @include hover {
        border-color: $c-400;
        background-color: $c-400;
      }

      &:active {
        border-color: $c-300;
        background-color: $c-300;
      }
    }

    @include hover {
      color: $c-950;
    }

    .default-btn {
      &__text {
        background-color: $grey-13;
        border-color: $grey-13;
      }

      &__icon {
        background-color: $grey-13;
        border-color: $grey-13;
      }
    }
  }
}