.default-btn {
  height: 5.6rem;
  padding: 0 3.1rem;
  border: 0.1rem solid $dark;
  border-radius: 1.2rem;
  background-color: $dark;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  transition: .3s;

  @include hover {
    background-color: $dark-hover;
    border-color: $dark-hover;
  }

  &:active {
    background-color: $dark-active;
    border-color: $dark-active;
  }

  &:disabled {
    pointer-events: none;
    background-color: $grey-disable;
    border-color: $grey-disable;
    color: $grey-placeholder;
  }

  svg {
    width: 2.4rem;
    height: 2.4rem;
  }

  // sizes
  &_sm {
    height: 4rem;
    padding: 0 1.5rem;
  }

  // variants
  &_stroke {
    background-color: transparent;
    color: $dark;

    @include hover {
      color: $white;
    }
  }

  // colors
  &_red {
    background-color: $red;
    border-color: $red;

    @include hover() {
      background-color: $red-hover;
      border-color: $red-hover;
    }

    &:active {
      background-color: $red-active;
      border-color: $red-active;
    }

    &:disabled {
      pointer-events: none;
      background-color: $grey;
      border-color: $grey;
      color: $grey-placeholder;
    }
  }

  &_white {
    background-color: $white;
    border-color: $white;
    color: $dark;

    @include hover() {
      background-color: $grey;
      border-color: $grey;
    }

    &:active {
      background-color: $grey-disable;
      border-color: $grey-disable;
    }

    &.default-btn_stroke {
      background-color: transparent;
      color: $white;

      @include hover() {
        background-color: $white;
        border-color: $white;
        color: $dark;
      }

      &:active {
        background-color: $grey-disable;
        border-color: $grey-disable;
      }

      &:disabled {
        pointer-events: none;
        background-color: $grey;
        border-color: $grey;
        color: $grey-placeholder;
      }
    }
  }
}