---
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";
import LocationItem from "@components/UI/LocationItem/LocationItem.astro";
import MenuLink from "@components/UI/MenuLink/MenuLink.astro";
import { Sprite } from "astro-icon";
---

<nav class="header-menu">
  <div class="header-menu__container">
    <div class="header-menu-item">
      <a href="#" class="label-m header-menu-item__btn">
        Продукты
        <Sprite name="chevron-down" />
      </a>
      <div class="header-menu-item__container">
        <div class="header-menu-item__content header-menu-prod">
          <div class="header-menu-prod__container">
            <div
              class="header-menu-box header-menu-prod__box header-menu-prod__box_big"
            >
              <span class="label-l header-menu-box__title">Прокси</span>
              <div class="header-menu-prod__list">
                <MenuLink
                  icon="./img/icons/resedential.svg"
                  title="Резидентские прокси"
                  label="Популярный"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Server proxies.svg"
                  title="Серверные прокси"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Mpbile.svg"
                  title="Мобильные прокси"
                  label="New"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Datacenter.svg"
                  title="Datacenter прокси"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/IPS.svg"
                  title="Статические (ISP) прокси"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
              </div>
            </div>
            <div class="header-menu-box header-menu-prod__box">
              <span class="label-l header-menu-box__title">Скраперы</span>
              <div class="header-menu-prod__list">
                <MenuLink icon="./img/icons/SERP.svg" title="Скрапер. SERP">
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/E-commerce.svg"
                  title="Скрапер. E-commerce"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink icon="./img/icons/SERP-web.svg" title="Скрапер. Web">
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
              </div>
            </div>
          </div>
          <div class="header-menu-box header-menu-location">
            <DefaultBtn component="a" href="#" class="header-menu-box__link">
              Локации
              <Sprite name="arrow-link" />
            </DefaultBtn>

            <div class="header-menu-location__list">
              <LocationItem
                href="#"
                img="./img/DE.svg"
                title="Германия"
                text="439,886 IPs"
              />
              <LocationItem img="./img/US.svg" title="США" text="439,886 IPs" />
              <LocationItem
                href="#"
                img="./img/BR.svg"
                title="Бразилия"
                text="12,629,978 IPs"
              />
              <LocationItem
                href="#"
                img="./img/FR.svg"
                title="Франция"
                text="12,629,978 IPs"
              />
              <LocationItem
                href="#"
                img="./img/JP.svg"
                title="Япония"
                text="12,629,978 IPs"
              />
              <LocationItem
                href="#"
                img="./img/PL.svg"
                title="Польша"
                text="12,629,978 IPs"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu-item">
      <a href="#" class="label-m header-menu-item__btn">
        Цены
        <Sprite name="chevron-down" />
      </a>
      <div class="header-menu-item__container">
        <div class="header-menu-item__content header-menu-price">
          <div class="header-menu-price__container">
            <div class="header-menu-box">
              <span class="header-menu-box__title">Прокси</span>
              <div class="header-menu-price__list">
                <MenuLink
                  icon="./img/icons/resedential.svg"
                  title="Резидентские прокси"
                  label="Популярный"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Mpbile.svg"
                  title="Мобильные прокси"
                  label="New"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/IPS.svg"
                  title="Статические (ISP) прокси"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Server proxies.svg"
                  title="Серверные прокси"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/Datacenter.svg"
                  title="Datacenter прокси"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
              </div>
            </div>
            <div class="header-menu-box">
              <span class="header-menu-box__title">Прокси</span>
              <div class="header-menu-price__list">
                <MenuLink
                  icon="./img/icons/SERP.svg"
                  title="Скрапер. SERP"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/E-commerce.svg"
                  title="Скрапер. E-commerce"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
                <MenuLink
                  icon="./img/icons/SERP-web.svg"
                  title="Скрапер. Web"
                  price="$2.87/GB"
                >
                  Глобальный пул, точный таргетинг и отсутствие контрактов
                </MenuLink>
              </div>
            </div>
          </div>
          <div class="header-menu-box header-menu-price-methods">
            <span class="header-menu-box__title header-menu-box__title_color">
              Способы оплаты
            </span>
            <p class="label-l header-menu-price-methods__text">
              Оплатить наш сервис вы можете криптовалютой и любой картой мира
              (кроме карт, выпущенных в РФ)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu-item">
      <a href="#" class="label-m header-menu-item__btn">
        Кейсы
        <Sprite name="chevron-down" />
      </a>
      <div class="header-menu-item__container">
        <div class="header-menu-item__content header-menu-case">
          <div class="header-menu-box">
            <span class="header-menu-box__title">Кейсы применения</span>
            <div class="header-menu-case__list">
              <MenuLink icon="./img/icons/SERP-web.svg" title="Web Scraping">
                Глобальный пул, точный таргетинг и отсутствие контрактов
              </MenuLink>
              <MenuLink icon="./img/icons/E-commerce.svg" title="E-commerce">
                Глобальный пул, точный таргетинг и отсутствие контрактов
              </MenuLink>
              <MenuLink icon="./img/icons/proxy.svg" title="Multi Accounting">
                Глобальный пул, точный таргетинг и отсутствие контрактов
              </MenuLink>
              <MenuLink icon="./img/icons/SERP.svg" title="SEO & SERP">
                Глобальный пул, точный таргетинг и отсутствие контрактов
              </MenuLink>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu-item">
      <a href="#" class="label-m header-menu-item__btn">
        Ресурсы
        <Sprite name="chevron-down" />
      </a>
      <div class="header-menu-item__container">
        <div class="header-menu-item__content header-menu-source">
          <MenuLink icon="./img/icons/IP.svg" title="Локации">
            Можно использовать со всем популярным софтом
          </MenuLink>
          <MenuLink
            icon="./img/icons/Simple authentication.svg"
            title="Интеграция"
          >
            Можно использовать со всем популярным софтом
          </MenuLink>
          <MenuLink
            icon="./img/icons/developer-mode.svg"
            title="Для разработчиков"
          >
            Можно использовать со всем популярным софтом
          </MenuLink>
          <MenuLink icon="./img/icons/Read.svg" title="Блог">
            Можно использовать со всем популярным софтом
          </MenuLink>
        </div>
      </div>
    </div>
    <div class="header-menu-item">
      <a href="#" class="label-m header-menu-item__btn">Быстрый тест</a>
    </div>
  </div>
</nav>
