---
import Tag from "@components/_UI/Tag/Tag.astro";

interface Props {
  title?: string;
}

const { title = "Варианты использования веб-скрейпера" } = Astro.props;
---

<section class="scraper-adv">
  <div class="container scraper-adv__container">
    <h2 class="title-2 scraper-adv__title" set:html={title} />

    <div class="scraper-adv__list">
      <slot>
        <div class="scraper-adv-item">
          <img
            class="scraper-adv-item__img"
            src="./img/scraper-adv-1.svg"
            alt=""
          />
          <div class="scraper-adv-item__content">
            <h3 class="title-3 regular scraper-adv-item__title">
              Анализ конкурентов
            </h3>
            <p class="label-l grey-9 scraper-adv-item__text">
              Наш парсер поиска позволяет изучить и оценить стратегию
              конкурентов, а затем принять меры для улучшения своего положения
              на рынке.
            </p>
          </div>
        </div>
        <div class="scraper-adv__box">
          <div class="scraper-adv-item">
            <div class="scraper-adv-item__tags">
              <Tag>USA</Tag>
              <Tag>Twitter</Tag>
              <Tag>Pizza Hut</Tag>
              <Tag>Trend</Tag>
              <Tag>Domino’s</Tag>
            </div>
            <div class="scraper-adv-item__content">
              <h3 class="title-3 regular scraper-adv-item__title">
                Сбор данных по ключевым словам
              </h3>
              <p class="label-l grey-9 scraper-adv-item__text">
                Наш скрейпер поможет вам проанализировать популярные запросы,
                конкурентов и тенденции, чтобы выделиться на фоне конкурентов.
              </p>
            </div>
          </div>
          <div class="scraper-adv-item scraper-adv-item_bg">
            <div class="scraper-adv-item__bg">
              <img src="./img/scraper-brands.png" alt="" />
            </div>
            <div class="scraper-adv-item__content">
              <h3 class="title-3 regular scraper-adv-item__title">
                Мониторинг брендов
              </h3>
              <p class="label-l grey-9 scraper-adv-item__text">
                Проводите анализ поисковой выдачи, отслеживая использование
                вашего бренда другими компаниями или появление новых брендов в
                отрасли.
              </p>
            </div>
          </div>
        </div>
        <div class="scraper-adv-item">
          <div class="scraper-adv-item__content">
            <h3 class="title-3 regular scraper-adv-item__title">SEO анализ</h3>
            <p class="label-l grey-9 scraper-adv-item__text">
              Получайте показатели из поисковых систем в режиме реального
              времени и проводите наиболее точный анализ вашей поисковой
              оптимизации.
            </p>
          </div>
          <img
            class="scraper-adv-item__img"
            src="./img/scraper-adv-2.svg"
            alt=""
          />
        </div>
      </slot>
    </div>
  </div>
</section>
