.main-partners {
  margin: 10rem 0;

  @include breakpoint($xs-bp) {
    margin: 5rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint($xs-bp) {
      gap: 2.4rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    text-align: center;

    @include breakpoint($xs-bp) {
      gap: 0.8rem;
    }
  }

  &__text {
    @include breakpoint($xs-bp) {
      @include label-s();
      max-width: 27rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.4rem;

    @include breakpoint($xs-bp) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
    }
  }
}

.main-partners-item {
  position: relative;
  background-color: $white;
  border: 0.1rem solid $grey-5;
  border-radius: 1.6rem;
  padding: 2.4rem;
  overflow: hidden;
  height: 24.4rem;

  &:hover {
    .main-partners-item {
      &__text {
        opacity: 1;
        pointer-events: all;
      }

      &__icon {
        rotate: 45deg;
      }
    }
  }

  @include breakpoint($xs-bp) {
    padding: 1.6rem;
    border-radius: 0.8rem;
    height: 12.6rem;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.4rem;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    pointer-events: none;

    @include breakpoint($xs-bp) {
      padding: 1.6rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  &__icon {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    color: $c-500;
    transition: .3s;

    @include breakpoint($xs-bp) {
      width: 1.6rem;
      height: 1.6rem;
      top: 1.6rem;
      right: 1.6rem;
    }
  }
}