---
import { Sprite } from "astro-icon";
---

<section class="main-partners">
  <div class="container main-partners__container">
    <div class="main-partners__head">
      <h3 class="title-2 main-partners__title">Наши партнеры</h3>
      <p class="label-l c-grey-9 main-partners__text">
        Доверие самых передовых команд поддержки в мире
      </p>
    </div>

    <div class="main-partners__list">
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
        <Sprite name="close" class="main-partners-item__icon" />
      </div>
    </div>
  </div>
</section>
