---
import { Sprite } from "astro-icon";
---

<section class="main-partners">
  <div class="container main-partners__container">
    <div class="main-partners__head">
      <h3 class="title-2 main-partners__title">Наши партнеры</h3>
      <p class="label-l c-grey-9 main-partners__text">
        Доверие самых передовых команд поддержки в мире
      </p>
    </div>

    <div class="main-partners__list">
      <div class="main-partners-item">
        <img
          src="./img/main-partners-1.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Undetectable.io— это антидетект-браузер, который защищает вашу
          личность в интернете, изменяя цифровые отпечатки устройства, такие как
          ОС, cookies, языки, User-Agent, шрифты и т.д.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-2.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          The primary objective is to reduce the learning curve for developers
          looking to migrate from Python (Scrapy) to Golang for their web
          scraping projects, while taking advantage of Golang's built-in
          concurrency and generally low resource requirements.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-3.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Vision — надежный и удобный антидетект браузер нового поколения,
          задающий стандарты рынка
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-4.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          AQUM — единственный антидетект-браузер с уникальными и реальными
          отпечатками, гарантирующий анонимность и прохождение всех чекеров.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-5.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          A free fingerprint browser, integrated with Anti-detect, Web Unlocker,
          and Intelligent Proxies, supports Cloud Container Clusters and
          Browserless, and it is also an enterprise-grade cloud browser solution
          compatible with Windows/Mac/Linux.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-6.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          3SNET CPA network provides more than 1,000 offers from direct
          advertisers worldwide in the most lucrative niches: betting, gambling,
          dating.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-7.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Надежный антидетект браузер с удобным управлением и автоматизацией
          просессов.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-8.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          BitBrowser:Best anti-detection browser with multi-login account group
          control and RPA automation.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-9.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          Lamanche Payments — сервис по выпуску банковских карт для оплаты
          рекламы в Facebook, Google, Bing, Taboola и других рекламных сетях.
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
      <div class="main-partners-item">
        <img
          src="./img/main-partners-10.png"
          alt=""
          class="main-partners-item__img"
        />
        <p class="label-m c-grey-11 main-partners-item__text">
          AFFSTAR-CPA-network and advertiser of the new generation!
        </p>
        <Sprite name="plus" class="main-partners-item__icon" />
      </div>
    </div>
  </div>
</section>
