.prices-isp-banner {
  padding: 3.6rem 0rem 10rem;
  background-color: $grey-12;
  color: $white;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
  }

  &__swiper {
    .swiper-wrapper {
      align-items: center;

      @media screen and (min-width: 601px) {
        display: flex;
        justify-content: center;
        gap: 2.4rem;
        transform: none !important;
      }
    }

    .swiper-slide {
      @media screen and (min-width: 601px) {
        width: 54.5rem;
      }
    }

    .tariff-card {
      grid-auto-rows: auto;

      &.tariff-card_order {
        @media screen and (min-width: 601px) {
          gap: 4rem;

          .tariff-card {
            &__head {
              gap: 5.2rem;
            }
          }
        }
      }
    }
  }
}