---
import { Sprite } from "astro-icon";
---

<section class="rp-advantages">
  <div class="container rp-advantages__container">
    <slot>
      <div class="rp-advantages-item">
        <Sprite name="connect" class="rp-advantages-item__icon" />
        <h4 class="title-3 regular rp-advantages-item__title">
          Высокая анонимность
        </h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
      </div>
      <div class="rp-advantages-item">
        <Sprite name="connect" class="rp-advantages-item__icon" />
        <h4 class="title-3 regular rp-advantages-item__title">
          Повышенная надежность
        </h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
      </div>
      <div class="rp-advantages-item">
        <Sprite name="connect" class="rp-advantages-item__icon" />
        <h4 class="title-3 regular rp-advantages-item__title">
          Широкий географический охват
        </h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
      </div>
      <div class="rp-advantages-item">
        <Sprite name="connect" class="rp-advantages-item__icon" />
        <h4 class="title-3 regular rp-advantages-item__title">
          Подходят для авторизации
        </h4>
        <p class="label-m c-grey-8 rp-advantages-item__text">
          Lacus arcu ultricies condimentum mauris cras. Netus felis ullamcorper
          ut suscipit non commodo nulla tristique.
        </p>
      </div>
    </slot>
  </div>
</section>
