---
import BlogCard from "@components/_UI/BlogCard/BlogCard.astro";
---

<section class="blog-rec">
  <div class="container blog-rec__container">
    <h3 class="title-2 blog-rec__title">Не упустите</h3>

    <div class="blog-rec__list">
      <BlogCard img="./img/blog-1.jpeg" />
      <BlogCard img="./img/blog-2.jpeg" />
      <BlogCard img="./img/blog-3.jpeg" />
    </div>
  </div>
</section>
