---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="prices-data">
  <div class="container prices-data__container">
    <h3 class="title-2 prices-data__title">
      Получайте данные из самых популярных поисковых систем
    </h3>

    <div class="prices-data__inner">
      <div class="prices-data__info">
        <div class="prices-data-info" data-dropdown>
          <div class="prices-data-info__top">
            <img
              src="./img/logo/logo-name-1.svg"
              alt=""
              class="prices-data-info__logo"
            />
            <IconBtn type="button" class="prices-data-info__btn" data-btn>
              <Sprite name="plus" />
            </IconBtn>
          </div>
          <div class="prices-data-info__container">
            <div class="prices-data-info__inner">
              <p class="label-l c-grey-8 prices-data-info__text">
                Инструмент парсинга Pinterest представляет собой мощное
                и эффективное решение для получения результатов поиска
                и улучшения ваших проектов.
              </p>
            </div>
          </div>
        </div>
        <div class="prices-data-info" data-dropdown>
          <div class="prices-data-info__top">
            <img
              src="./img/logo/logo-name-2.svg"
              alt=""
              class="prices-data-info__logo"
            />
            <IconBtn type="button" class="prices-data-info__btn" data-btn>
              <Sprite name="plus" />
            </IconBtn>
          </div>
          <div class="prices-data-info__container">
            <div class="prices-data-info__inner">
              <p class="label-l c-grey-8 prices-data-info__text">
                Инструмент парсинга Pinterest представляет собой мощное
                и эффективное решение для получения результатов поиска
                и улучшения ваших проектов.
              </p>
            </div>
          </div>
        </div>
        <div class="prices-data-info" data-dropdown>
          <div class="prices-data-info__top">
            <img
              src="./img/logo/logo-name-3.svg"
              alt=""
              class="prices-data-info__logo"
            />
            <IconBtn type="button" class="prices-data-info__btn" data-btn>
              <Sprite name="plus" />
            </IconBtn>
          </div>
          <div class="prices-data-info__container">
            <div class="prices-data-info__inner">
              <p class="label-l c-grey-8 prices-data-info__text">
                Инструмент парсинга Pinterest представляет собой мощное
                и эффективное решение для получения результатов поиска
                и улучшения ваших проектов.
              </p>
            </div>
          </div>
        </div>
        <div class="prices-data-info" data-dropdown>
          <div class="prices-data-info__top">
            <img
              src="./img/logo/logo-name-4.svg"
              alt=""
              class="prices-data-info__logo"
            />
            <IconBtn type="button" class="prices-data-info__btn" data-btn>
              <Sprite name="plus" />
            </IconBtn>
          </div>
          <div class="prices-data-info__container">
            <div class="prices-data-info__inner">
              <p class="label-l c-grey-8 prices-data-info__text">
                Инструмент парсинга Pinterest представляет собой мощное
                и эффективное решение для получения результатов поиска
                и улучшения ваших проектов.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="prices-data__adv">
        <div class="rp-advantages-item">
          <img
            src="./img/icons/Premium.svg"
            alt=""
            class="rp-advantages-item__icon"
          />
          <h4 class="title-3 regular rp-advantages-item__title">
            Премиум-пул прокси
          </h4>
          <p class="label-m c-grey-8 rp-advantages-item__text">
            Благодаря впечатляющему пулу IP-адресов Mango вы получаете доступ к
            обширной сети, охватывающей более 70 000 интернет-провайдеров в 200
            странах мира.
          </p>
        </div>
        <div class="rp-advantages-item">
          <img
            src="./img/icons/global.svg"
            alt=""
            class="rp-advantages-item__icon"
          />
          <h4 class="title-3 regular rp-advantages-item__title">
            Мировое покрытие
          </h4>
          <p class="label-m c-grey-8 rp-advantages-item__text">
            Независимо от часового пояса или географического положения, вы
            можете получать ценную информацию из разных регионов и легко
            выходить на новые рынки.
          </p>
        </div>
        <div class="rp-advantages-item">
          <img
            src="./img/icons/simple-authentication.svg"
            alt=""
            class="rp-advantages-item__icon"
          />
          <h4 class="title-3 regular rp-advantages-item__title">
            Очистите любые данные
          </h4>
          <p class="label-m c-grey-8 rp-advantages-item__text">
            Получите простую комбинацию USER:PASS для конечной точки мобильного
            прокси, которая позволит вам получить доступ ко всем IP-адресам.
          </p>
        </div>
        <div class="rp-advantages-item">
          <img
            src="./img/icons/CreditCard-2.svg"
            alt=""
            class="rp-advantages-item__icon"
          />
          <h4 class="title-3 regular rp-advantages-item__title">
            Плата за успех
          </h4>
          <p class="label-m c-grey-8 rp-advantages-item__text">
            Наш подход «плата за успех» гарантирует, что вы получите
            максимальную отдачу от нашего парсера результатов поиска. Вы платите
            только в том случае, если наш инструмент успешно извлекает данные.
          </p>
        </div>
      </div>
    </div>

    <DefaultBtn component="a" href="#">Подробнее</DefaultBtn>
  </div>
</section>
