---
import { Sprite } from "astro-icon";
---

<section class="blog-slider">
  <div
    class="swiper blog-slider__swiper"
    data-swiper-init
    data-props={`{"speed": 500,"effect":"fade"}`}
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide blog-slider__slide">
        <div class="blog-slider__img">
          <img src="./img/blog-slider-1.jpg" alt="" />
        </div>
        <div class="blog-slider__container">
          <div class="blog-slider__head">
            <span class="label-l blog-slider__desc">
              <span class="c-500">Блог</span> — 4 минуты
            </span>

            <div class="blog-slider__tags">
              <span class="label-l blog-slider__tag">Учебные пособия</span>
              <span class="label-l blog-slider__tag">Скраперы</span>
            </div>

            <h3 class="title-3 blog-slider__title">
              Учебное пособие по парсингу веб-страниц Python: шаг за шагом
            </h3>
          </div>

          <div class="label-l c-grey-6 blog-slider__text">
            <p>
              Начать парсинг веб-страниц просто, за исключением случаев, когда
              это не так, поэтому вы здесь. Python — один из самых простых
              способов начать работу, поскольку это объектно-ориентированный
              язык. Классы и объекты Python значительно проще использовать, чем
              в любом другом языке. Кроме того, существует множество библиотек,
              которые позволяют легко создать инструмент для парси
            </p>
          </div>

          <a href="#" class="label-l hover:500 blog-slider__link">
            Читать все <Sprite name="arrow-link" />
          </a>
        </div>
      </div>
      <div class="swiper-slide blog-slider__slide">
        <div class="blog-slider__img">
          <img src="./img/blog-1.jpeg" alt="" />
        </div>
        <div class="blog-slider__container">
          <div class="blog-slider__head">
            <span class="label-l blog-slider__desc">
              <span class="c-500">Блог</span> — 5 минуты
            </span>

            <div class="blog-slider__tags">
              <span class="blog-slider__tag">Учебные пособия</span>
              <span class="blog-slider__tag">Скраперы</span>
              <span class="blog-slider__tag">Proxy</span>
            </div>

            <h3 class="title-3 blog-slider__title">
              Учебное пособие по парсингу веб-страниц Python: шаг за шагом
            </h3>
          </div>

          <div class="label-l c-grey-6 blog-slider__text">
            <p>
              Начать парсинг веб-страниц просто, за исключением случаев, когда
              это не так, поэтому вы здесь. Python — один из самых простых
              способов начать работу, поскольку это объектно-ориентированный
              язык. Классы и объекты Python значительно проще использовать, чем
              в любом другом языке. Кроме того, существует множество библиотек,
              которые позволяют легко создать инструмент для парси
            </p>
          </div>

          <a href="#" class="label-l hover:500 blog-slider__link">
            Читать все <Sprite name="arrow-link" />
          </a>
        </div>
      </div>
      <div class="swiper-slide blog-slider__slide">
        <div class="blog-slider__img">
          <img src="./img/blog-slider-1.jpg" alt="" />
        </div>
        <div class="blog-slider__container">
          <div class="blog-slider__head">
            <span class="label-l blog-slider__desc">
              <span class="c-500">Блог</span> — 4 минуты
            </span>

            <div class="blog-slider__tags">
              <span class="blog-slider__tag">Учебные пособия</span>
              <span class="blog-slider__tag">Скраперы</span>
            </div>

            <h3 class="title-3 blog-slider__title">
              Учебное пособие по парсингу веб-страниц Python: шаг за шагом
            </h3>
          </div>

          <div class="label-l c-grey-6 blog-slider__text">
            <p>
              Начать парсинг веб-страниц просто, за исключением случаев, когда
              это не так, поэтому вы здесь. Python — один из самых простых
              способов начать работу, поскольку это объектно-ориентированный
              язык. Классы и объекты Python значительно проще использовать, чем
              в любом другом языке. Кроме того, существует множество библиотек,
              которые позволяют легко создать инструмент для парси
            </p>
          </div>

          <a href="#" class="label-l hover:500 blog-slider__link">
            Читать все <Sprite name="arrow-link" />
          </a>
        </div>
      </div>
      <div class="swiper-slide blog-slider__slide">
        <div class="blog-slider__img">
          <img src="./img/blog-1.jpeg" alt="" />
        </div>
        <div class="blog-slider__container">
          <div class="blog-slider__head">
            <span class="label-l blog-slider__desc">
              <span class="c-500">Блог</span> — 5 минуты
            </span>

            <div class="blog-slider__tags">
              <span class="blog-slider__tag">Учебные пособия</span>
              <span class="blog-slider__tag">Скраперы</span>
              <span class="blog-slider__tag">Proxy</span>
            </div>

            <h3 class="title-3 blog-slider__title">
              Учебное пособие по парсингу веб-страниц Python: шаг за шагом
            </h3>
          </div>

          <div class="label-l c-grey-6 blog-slider__text">
            <p>
              Начать парсинг веб-страниц просто, за исключением случаев, когда
              это не так, поэтому вы здесь. Python — один из самых простых
              способов начать работу, поскольку это объектно-ориентированный
              язык. Классы и объекты Python значительно проще использовать, чем
              в любом другом языке. Кроме того, существует множество библиотек,
              которые позволяют легко создать инструмент для парси
            </p>
          </div>

          <a href="#" class="label-l hover:500 blog-slider__link">
            Читать все <Sprite name="arrow-link" />
          </a>
        </div>
      </div>
    </div>

    <div class="blog-slider-nav">
      <button type="button" class="hover:500 blog-slider-nav__btn" data-prev>
        <Sprite name="chevron-left" />
      </button>
      <div class="blog-slider__pag" data-pagination>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <button type="button" class="hover:500 blog-slider-nav__btn" data-next>
        <Sprite name="chevron-right" />
      </button>
    </div>
  </div>
</section>
