---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="dev-code" data-tab-controller>
  <div class="container dev-code__container">
    <div class="dev-code__head">
      <h2 class="title-2 dev-code__title">Погрузитесь в примеры кода</h2>
      <p class="label-l c-grey-6 dev-code__text">
        Доступ к данным о продуктах с ведущих онлайн-торговых площадок никогда
        не был проще. Изучите API-интерфейс E-Commerce Scraper с помощью
        практических примеров кода.
      </p>
    </div>

    <div
      class="swiper dev-code-tabs"
      data-tab-btns
      data-swiper-init
      data-props={`{"slidesPerView":"auto"}`}
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn _active"
            data-tab-btn="1"
          >
            C#
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="2"
          >
            Go
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="3"
          >
            Java
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="4"
          >
            Nodejs
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="5"
          >
            Perl
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="6"
          >
            PHP
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="7"
          >
            Python
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="8"
          >
            Bash
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="9"
          >
            Vb
          </button>
        </div>
      </div>
    </div>

    <div class="dev-code__templates">
      <div class="code-box _active" data-tab="1">
        <h5 class="title-4 regular uppercase code-box__title">C#</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`using System;\r\nusing System.Net;\r\nusing System.Net.Http;\r\nusing System.Threading.Tasks;\r\n\r\nnamespace MangoproxyHttpExample\r\n{\r\n    public static class Program\r\n    {\r\n        private const string Username = \"myusername-zone-custom\";\r\n        private const string Password = \"mypassword\";\r\n        private const string MangoproxyDns = \"http://p2.mangoproxy.com:2334\";\r\n        private const string UrlToGet = \"http://ip-api.com/json\";\r\n\r\n        public static async Task Main()\r\n        {\r\n            using var httpClient = new HttpClient(new HttpClientHandler\r\n            {\r\n        Proxy = new WebProxy\r\n        {\r\n          Address = new Uri(MangoproxyDns),\r\n          Credentials = new NetworkCredential(Username, Password),\r\n        }\r\n            });\r\n\r\n            using var responseMessage = await httpClient.GetAsync(UrlToGet);\r\n\r\n            var contentString = await responseMessage.Content.ReadAsStringAsync();\r\n\r\n            Console.WriteLine(\"Response:\" + Environment.NewLine + contentString);\r\n            Console.ReadKey(true);\r\n        }\r\n    }\r\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="2">
        <h5 class="title-4 regular uppercase code-box__title">Go</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`package main\r\n\r\nimport (\r\n  \"net/url\"\r\n  \"net/http\"\r\n  \"fmt\"\r\n  \"io/ioutil\"\r\n  \"os\"\r\n)\r\n\r\nconst(\r\n  proxyUrlTemplate = \"http://%s:%s@%s:%s\"\r\n)\r\n\r\nconst (\r\n  username = \"myusername-zone-custom\"\r\n  password = \"mypassword\"\r\n\r\n  MANGOPROXY_DNS = \"p2.mangoproxy.com\"\r\n  MANGOPROXY_PORT = \"2334\"\r\n\r\n  urlToGet = \"http://ip-api.com/json\"\r\n)\r\n\r\nfunc main() {\r\n  proxy := fmt.Sprintf(proxyUrlTemplate, username, password, MANGOPROXY_DNS, MANGOPROXY_PORT)\r\n  proxyURL, err := url.Parse(proxy)\r\n  if err != nil {\r\n    fmt.Printf(\"failed to form proxy URL: %v\", err)\r\n    os.Exit(1)\r\n  }\r\n\r\n  u, err := url.Parse(urlToGet)\r\n  if err != nil {\r\n    fmt.Printf(\"failed to form GET request URL: %v\", err)\r\n    os.Exit(1)\r\n  }\r\n\r\n  transport := &http.Transport{Proxy: http.ProxyURL(proxyURL)}\r\n  client := &http.Client{Transport: transport}\r\n\r\n  request, err := http.NewRequest(\"GET\", u.String(), nil)\r\n  if err != nil {\r\n    fmt.Printf(\"failed to form GET request: %v\", err)\r\n    os.Exit(1)\r\n  }\r\n\r\n  response, err := client.Do(request)\r\n  if err != nil {\r\n    fmt.Printf(\"failed to perform GET request: %v\", err)\r\n    os.Exit(1)\r\n  }\r\n\r\n  responseBodyBytes, err := ioutil.ReadAll(response.Body)\r\n  if err != nil {\r\n    fmt.Printf(\"could not read response body bytes: %v\", err)\r\n    os.Exit(1)\r\n  }\r\n  fmt.Printf(\"Response: %s \", string(responseBodyBytes))\r\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="3">
        <h5 class="title-4 regular uppercase code-box__title">Java</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`import java.io.BufferedReader;\r\nimport java.io.IOException;\r\nimport java.io.InputStreamReader;\r\nimport java.net.*;\r\n\r\npublic class Application {\r\n    private static String USERNAME = \"myusername-zone-custom\";\r\n    private static String PASSWORD = \"mypassword\";\r\n\r\n    private static String MANGOPROXY_DNS = \"p2.mangoproxy.com\";\r\n    private static int MANGOPROXY_PORT = 2334;\r\n\r\n    private static String URL_TO_GET = \"http://ip-api.com/json\";\r\n\r\n    public static void main(String[] args) throws IOException {\r\n        final Proxy proxy = new Proxy(Proxy.Type.HTTP, new InetSocketAddress(MANGOPROXY_DNS, MANGOPROXY_PORT));\r\n        Authenticator.setDefault(\r\n                new Authenticator() {\r\n                    public PasswordAuthentication getPasswordAuthentication() {\r\n                        return new PasswordAuthentication(\r\n                                USERNAME, PASSWORD.toCharArray()\r\n                        );\r\n                    }\r\n                }\r\n        );\r\n\r\n        final URL url = new URL(URL_TO_GET);\r\n        final URLConnection urlConnection = url.openConnection(proxy);\r\n\r\n        final BufferedReader bufferedReader = new BufferedReader(\r\n                new InputStreamReader(urlConnection.getInputStream()));\r\n        final StringBuilder response = new StringBuilder();\r\n\r\n        String inputLine;\r\n        while ((inputLine = bufferedReader.readLine()) != null) {\r\n            response.append(inputLine);\r\n        }\r\n        bufferedReader.close();\r\n\r\n        System.out.println(String.format(\"Response: %s\", response.toString()));\r\n    }\r\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="4">
        <h5 class="title-4 regular uppercase code-box__title">Nodejs</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`const axios = require(\'axios\');\r\nconst username = \'myusername-zone-custom\';\r\nconst password = \'mypassword\';\r\nconst MANGOPROXY_DNS = \'p2.mangoproxy.com\';\r\nconst MANGOPROXY_PORT = 2334;\r\n\r\naxios\r\n  .get(\'http://ip-api.com/json\', {\r\n    proxy: {\r\n      protocol: \'http\',\r\n      host: MANGOPROXY_DNS,\r\n      port: MANGOPROXY_PORT,\r\n      auth: {\r\n        username,\r\n        password,\r\n      },\r\n    },\r\n  })\r\n  .then((res) => {\r\n    console.log(res.data);\r\n  })\r\n  .catch((err) => console.error(err));`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="5">
        <h5 class="title-4 regular uppercase code-box__title">Perl</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`#!/usr/bin/env perl\r\n\r\nuse LWP::Simple qw( $ua get );\r\n\r\nmy $username = \'myusername-zone-custom\';\r\nmy $password = \'mypassword\';\r\n\r\nmy $MANGOPROXY_DNS = \'p2.mangoproxy.com:2334\';\r\n\r\nmy $urlToGet = \'http://ip-api.com/json\';\r\n\r\n$ua->proxy(\'http\', sprintf(\'http://%s:%s@%s\', $username, $password, $MANGOPROXY_DNS));\r\n\r\nmy $contents = get($urlToGet);\r\nprint \"Response: $contents\" `}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="6">
        <h5 class="title-4 regular uppercase code-box__title">PHP</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`<?php\r\n\r\n$username = \'myusername-zone-custom\';\r\n$password = \'mypassword\';\r\n$MANGOPROXY_PORT = 2334;\r\n$MANGOPROXY_DNS = \'p2.mangoproxy.com\';\r\n\r\n$urlToGet = \'http://ip-api.com/json\';\r\n\r\n$ch = curl_init();\r\ncurl_setopt($ch, CURLOPT_URL, $urlToGet);\r\ncurl_setopt($ch, CURLOPT_HEADER, 0);\r\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);\r\ncurl_setopt($ch, CURLOPT_PROXYPORT, $MANGOPROXY_PORT);\r\ncurl_setopt($ch, CURLOPT_PROXYTYPE, \'HTTP\');\r\ncurl_setopt($ch, CURLOPT_PROXY, $MANGOPROXY_DNS);\r\ncurl_setopt($ch, CURLOPT_PROXYUSERPWD, $username.\':\'.$password);\r\n$data = curl_exec($ch);\r\ncurl_close($ch);\r\n\r\necho $data;\r\n?>`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="7">
        <h5 class="title-4 regular uppercase code-box__title">Python</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`#!/usr/bin/env python3\r\n\r\nimport requests\r\n\r\nusername = \"myusername-zone-custom\"\r\npassword = \"mypassword\"\r\nMANGOPROXY_DNS = \"p2.mangoproxy.com:2334\"\r\nurlToGet = \"http://ip-api.com/json\"\r\nproxy = {\"http\":\"http://{}:{}@{}\".format(username, password, MANGOPROXY_DNS)}\r\nr = requests.get(urlToGet , proxies=proxy)\r\n\r\nprint(\"Response:{}\".format(r.text))`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="8">
        <h5 class="title-4 regular uppercase code-box__title">Bash</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`#!/usr/bin/env bash\r\n\r\nexport USERNAME=myusername-zone-custom\r\nexport PASSWORD=mypassword\r\nexport MANGOPROXY_DNS=p2.mangoproxy.com:2334\r\ncurl -x http://$USERNAME:$PASSWORD@$MANGOPROXY_DNS http://ip-api.com/json && echo`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="9">
        <h5 class="title-4 regular uppercase code-box__title">Vb</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`Imports System.IO\r\nImports System.Net\r\n\r\nModule Module1\r\n\r\n    Private Const Username As String = \"myusername-zone-custom\"\r\n    Private Const Password As String = \"mypassword\"\r\n    Private Const MANGOPROXY_DNS As String = \"http://p2.mangoproxy.com:2334\"\r\n    Private Const UrlToGet As String = \"http://ip-api.com/json\"\r\n\r\n    Sub Main()\r\n        Dim httpWebRequest = CType(WebRequest.Create(UrlToGet), HttpWebRequest)\r\n        Dim webProxy = New WebProxy(New Uri(MANGOPROXY_DNS)) With {\r\n                .Credentials = New NetworkCredential(Username, Password)\r\n                }\r\n        httpWebRequest.Proxy = webProxy\r\n        Dim httpWebResponse = CType(httpWebRequest.GetResponse(), HttpWebResponse)\r\n        Dim responseStream = httpWebResponse.GetResponseStream()\r\n\r\n        If responseStream Is Nothing Then\r\n            Return\r\n        End If\r\n\r\n        Dim responseString = New StreamReader(responseStream).ReadToEnd()\r\n        Console.WriteLine($\"Response:\r\n{responseString}\")\r\n        Console.ReadKey()\r\n    End Sub\r\n\r\nEnd Module`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
    </div>

    <DefaultBtn component="a" href="#" icon>Быстрый старт</DefaultBtn>
  </div>
</section>
