---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="dev-code" data-tab-controller>
  <div class="container dev-code__container">
    <div class="dev-code__head">
      <h2 class="title-2 dev-code__title">Погрузитесь в примеры кода</h2>
      <p class="label-l c-grey-6 dev-code__text">
        Доступ к данным о продуктах с ведущих онлайн-торговых площадок никогда
        не был проще. Изучите API-интерфейс E-Commerce Scraper с помощью
        практических примеров кода.
      </p>
    </div>

    <div
      class="swiper dev-code-tabs"
      data-tab-btns
      data-swiper-init
      data-props={`{"slidesPerView":"auto"}`}
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn _active"
            data-tab-btn="1"
          >
            C#
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="2"
          >
            Go
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="3"
          >
            Java
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="4"
          >
            Nodejs
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="5"
          >
            Perl
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="6"
          >
            PHP
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="7"
          >
            Python
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="8"
          >
            Bash
          </button>
        </div>
        <div class="swiper-slide">
          <button
            type="button"
            class="uppercase label-l dev-code-tabs__btn"
            data-tab-btn="9"
          >
            Vb
          </button>
        </div>
      </div>
    </div>

    <div class="dev-code__templates">
      <div class="code-box _active" data-tab="1">
        <h5 class="title-4 regular uppercase code-box__title">C#</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="2">
        <h5 class="title-4 regular uppercase code-box__title">Go</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="3">
        <h5 class="title-4 regular uppercase code-box__title">Java</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="4">
        <h5 class="title-4 regular uppercase code-box__title">Nodejs</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="5">
        <h5 class="title-4 regular uppercase code-box__title">Perl</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="6">
        <h5 class="title-4 regular uppercase code-box__title">PHP</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="7">
        <h5 class="title-4 regular uppercase code-box__title">Python</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="8">
        <h5 class="title-4 regular uppercase code-box__title">Bash</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
      <div class="code-box" data-tab="9">
        <h5 class="title-4 regular uppercase code-box__title">Vb</h5>
        <pre
          class="label-l code-box__content">
        <code data-code>{`// добавлены языки javascript, csharp, go\n// java, perl, php\n// python, bash, vbscript, vbnet\n\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}\nconst x = 0;\nconst y = "ASD";\n\nfunction get() {\n return x + y;\n}`}</code>
      </pre>
        <button type="button" class="label-l code-box__copy" data-copy>
          <Sprite name="copy" />
           Скопировать
        </button>
      </div>
    </div>

    <DefaultBtn component="a" href="#" icon>Быстрый старт</DefaultBtn>
  </div>
</section>
