---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import Tag from "@components/_UI/Tag/Tag.astro";
import { Sprite } from "astro-icon";
---

<section class="dev-adv">
  <div class="container dev-adv__container">
    <div class="rp-info-item">
      <span class="label-m rp-info-item__num">[ 01 ]</span>
      <div class="rp-info-item__container">
        <div class="rp-info-item__head">
          <h4 class="title-3 rp-info-item__title">
            Более быстрый анализ данных с неограниченным количеством резидентных
            прокси
          </h4>
          <div class="rp-info-item__tags">
            <Tag>
              <Sprite name="check" />
               10 млн+IP-адресов
            </Tag>
            <Tag>
              <Sprite name="check" />
               Переключатель автоматического поворота
            </Tag>
            <Tag>
              <Sprite name="check" />
               Город
            </Tag>
            <Tag>
              <Sprite name="check" />
               Поддержка 5G/4G/3G
            </Tag>
            <Tag>
              <Sprite name="check" />
               Поддержка SOCKS5
            </Tag>
            <Tag>
              <Sprite name="check" />
               Доступ через API
            </Tag>
          </div>
          <p class="lable-l c-grey-8 rp-info-item__text">
            Собирайте данные для исследований и масштабируйте свой бизнес с
            помощью неограниченного количества подключений и потоков для вашего
            любимого скрипта или приложения.
          </p>
        </div>
      </div>
    </div>
    <div class="rp-info-item">
      <span class="label-m rp-info-item__num">[ 02 ]</span>
      <div class="rp-info-item__container">
        <div class="rp-info-item__head">
          <h4 class="title-3 rp-info-item__title">
            Поднимите исследования рынка на новый уровень с помощью домашних
            IP-адресов
          </h4>
          <div class="rp-info-item__tags">
            <Tag>
              <Sprite name="check" />
               10 млн+IP-адресов
            </Tag>
            <Tag>
              <Sprite name="check" />
               Переключатель автоматического поворота
            </Tag>
            <Tag>
              <Sprite name="check" />
               Город
            </Tag>
            <Tag>
              <Sprite name="check" />
               Поддержка 5G/4G/3G
            </Tag>
            <Tag>
              <Sprite name="check" />
               Поддержка SOCKS5
            </Tag>
            <Tag>
              <Sprite name="check" />
               Доступ через API
            </Tag>
          </div>
          <div class="lable-l c-grey-8 rp-info-item__text">
            <p>
              Если вы отправляете слишком много запросов за короткий промежуток
              времени с одного IP-адреса, ваш целевой веб-сайт может легко
              отследить и заблокировать вас или предоставить вводящую в
              заблуждение информацию.
            </p>
            <br />
            <p>
              Чтобы ограничить вероятность блокировки или маскировки, вам
              следует избегать очистки одного и того же веб-сайта с одним
              IP-адресом и использовать сеть Smartproxy для масштабирования
              своих операций. Все планы включают ротацию прокси.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="rp-info-item">
      <span class="label-m rp-info-item__num">[ 03 ]</span>
      <div class="rp-info-item__container">
        <div class="rp-info-item__head">
          <h4 class="title-3 rp-info-item__title">
            Более быстрый анализ данных с неограниченным количеством резидентных
            прокси
          </h4>
          <div class="lable-l c-grey-8 rp-info-item__text">
            <p>
              Собирайте данные для исследований и масштабируйте свой бизнес с
              помощью неограниченного количества подключений и потоков для
              вашего любимого скрипта или приложения.
            </p>
          </div>
          <div class="rp-info-item__tags">
            <Tag>
              <Sprite name="check" />
               10 млн+IP-адресов
            </Tag>
            <Tag>
              <Sprite name="check" />
               Переключатель автоматического поворота
            </Tag>
            <Tag>
              <Sprite name="check" />
               Поддержка 5G/4G/3G
            </Tag>
          </div>
        </div>
      </div>
    </div>
    <div class="rp-info-item">
      <span class="label-m rp-info-item__num">[ 04 ]</span>
      <div class="rp-info-item__container">
        <div class="rp-info-item__head">
          <h4 class="title-3 rp-info-item__title">
            Более быстрый анализ данных с неограниченным количеством резидентных
            прокси
          </h4>
          <div class="lable-l c-grey-8 rp-info-item__text">
            <p>
              Собирайте данные для исследований и масштабируйте свой бизнес с
              помощью неограниченного количества подключений и потоков для
              вашего любимого скрипта или приложения.
            </p>
          </div>
        </div>
        <DefaultBtn component="a" href="#" icon>Документация</DefaultBtn>
      </div>
    </div>
  </div>
</section>
