---
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";
import Tag from "@components/UI/Tag/Tag.astro";
import { Sprite } from "astro-icon";
---

<section class="rp-info">
  <div class="container rp-info__container">
    <div class="rp-info__head">
      <slot name="head">
        <div class="rp-info__head-inner">
          <h3 class="title-2 rp-info__title">
            Возможности резидентного прокси от Mango
          </h3>
          <p class="label-l c-grey-9 rp-info__text">
            Свяжитесь с нашей командой, чтобы узнать еще больше о возможностях
            прокси или задать нам любой вопрос!
          </p>
        </div>
        <DefaultBtn component="a" href="#" icon>Связаться</DefaultBtn>
      </slot>
    </div>

    <div class="rp-info__list">
      <slot>
        <div class="rp-info-item">
          <span class="label-m rp-info-item__num">[ 01 ]</span>
          <div class="rp-info-item__container">
            <div class="rp-info-item__head">
              <h4 class="title-3 rp-info-item__title">
                Крупнейшая и самая надежная сеть резидентных прокси
              </h4>
              <p class="lable-l c-grey-8 rp-info-item__text">
                Улучшите свои проекты по очистке веб-страниц с помощью ротации
                резидентных прокси из пула, насчитывающего более 100 миллионов
                IP-адресов. Благодаря глобальному охвату резидентных IP-адресов
                вы можете легко преодолеть блокировки географического
                местоположения.
              </p>
            </div>
            <div class="rp-info-item__adv">
              <div class="rp-advantages-item">
                <Sprite name="insurance" class="rp-advantages-item__icon" />
                <h4 class="label-l rp-advantages-item__title">
                  Дополнительная безопасность
                </h4>
                <p class="label-m c-grey-8 rp-advantages-item__text">
                  Выбирайте между HTTP, полностью зашифрованным HTTPS или
                  быстрым и надежным протоколом SOCKS5.
                </p>
              </div>
              <div class="rp-advantages-item">
                <Sprite name="map-pin" class="rp-advantages-item__icon" />
                <h4 class="label-l rp-advantages-item__title">
                  Прокси, полученные из этического источника
                </h4>
                <p class="label-m c-grey-8 rp-advantages-item__text">
                  Резидентные прокси Oxylabs отличаются высоким качеством и
                  поступают из законных источников.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="rp-info-item">
          <span class="label-m rp-info-item__num">[ 02 ]</span>
          <div class="rp-info-item__container">
            <div class="rp-info-item__head">
              <h4 class="title-3 rp-info-item__title">
                Точный таргетинг без скрытых комиссий
              </h4>
              <div class="rp-info-item__tags">
                <Tag>
                  <Sprite name="check" />
                   Континент
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   Страна
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   Город
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   Штат
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   Почтовый индекс
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   Координаты
                </Tag>
                <Tag>
                  <Sprite name="check" />
                   АСН
                </Tag>
              </div>
              <p class="lable-l c-grey-8 rp-info-item__text">
                Улучшите свои проекты по очистке веб-страниц с помощью ротации
                резидентных прокси из пула, насчитывающего более 100 миллионов
                IP-адресов. Благодаря глобальному охвату резидентных IP-адресов
                вы можете легко преодолеть блокировки географического
                местоположения.
              </p>
            </div>
            <DefaultBtn component="a" href="#" icon>Начать</DefaultBtn>
          </div>
        </div>

        <div class="rp-info-item">
          <span class="label-m rp-info-item__num">[ 03 ]</span>
          <div class="rp-info-item__container">
            <div class="rp-info-item__head">
              <h4 class="title-3 rp-info-item__title">
                Простая интеграция для плавного старта
              </h4>
              <p class="lable-l c-grey-8 rp-info-item__text">
                Ротационные резидентные прокси Oxylabs легко интегрировать и
                управлять ими.
              </p>
              <ul class="template label-l rp-info-item__inc">
                <li>Генератор конечных точек</li>
                <li>Удобная для разработчиков документация</li>
                <li>Интеграция со сторонним ПО</li>
                <li>Управление пользователями прокси с помощью Public API</li>
              </ul>
            </div>
            <div class="rp-info-item-doc">
              <DefaultBtn component="a" href="#" color="secondary">
                Документация
              </DefaultBtn>
              <div class="rp-info-item-doc__list">
                <img
                  src="./img/doc-1.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-2.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-3.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-4.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-5.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-6.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
                <img
                  src="./img/doc-7.svg"
                  alt=""
                  class="rp-info-item-doc__logo"
                />
              </div>
            </div>
          </div>
        </div>
      </slot>
    </div>
  </div>
</section>
