---

---

<section class="code">
  <div class="container code__container">
    <div class="code__head">
      <h3 class="title-2 code__title">Погрузитесь в примеры кода</h3>
      <p class="label-l c-grey-6 code__text">
        Доступ к данным о продуктах с ведущих онлайн-торговых площадок никогда
        не был проще. Изучите API-интерфейс E-Commerce Scraper с помощью
        практических примеров кода.
      </p>
    </div>

    <div class="code__swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
        </div>
      </div>
    </div>

    <div class="code__templates">
      <div class="code-box">
        <h5 class="title-4 code-box__title"></h5>
        <div class="code-box__content"></div>
      </div>
    </div>
  </div>
</section>
