.checkbox {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: $grey-placeholder;
  user-select: none;
  cursor: pointer;

  &.invalid {
    .checkbox {
      &__icon {
        border-color: $red;
      }
    }
  }

  &__input {
    &:checked+.checkbox__icon {
      color: $dark;
    }
  }

  &__icon {
    flex: none;
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid $grey-border;
    background-color: $white;
    color: transparent;
    transition: 0.3s;

    svg {
      width: 60%;
      height: 60%;
    }
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.2em;
  }
}