.checkbox {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  user-select: none;
  cursor: pointer;

  @include breakpoint($xs-bp) {
    align-items: center;
  }

  &.invalid {
    .checkbox {
      &__icon {
        border-color: $red;
      }
    }
  }

  &__input {
    &:checked~.checkbox__icon {
      background-color: $c-500;
      border-color: $grey-13;

      svg {
        opacity: 1;
      }
    }
  }

  &__icon {
    flex: none;
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid $grey-9;
    border-radius: 0.5rem;
    transition: .3s;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      transition: .3s;
      opacity: 0;
    }
  }

  &__text {
    @include breakpoint($xs-bp) {
      @include label-s();
    }

    a {
      text-decoration: underline;
      text-underline-offset: 0.2em;
      color: $c-800;
      transition: .3s;

      @include hover {
        text-decoration: none;
      }
    }
  }
}