---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.InputHTMLAttributes {
  className?: string;
}

const { className, ...props } = Astro.props;
---

<label class="checkbox" class:list={[className]}>
  <input type="checkbox" class="checkbox__input" hidden {...props} />
  <span class="checkbox__icon">
    <Sprite name="check" />
  </span>
  <span class="checkbox__text">
    <slot />
  </span>
</label>
