---
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import TariffCard from "@components/_UI/TariffCard/TariffCard.astro";
import { Sprite } from "astro-icon";
---

<section class="tariff-plan">
  <div class="tariff-plan__bg"></div>
  <div class="container tariff-plan__container">
    <div class="tariff-plan__head">
      <slot name="head">
        <h3 class="title-2 tariff-plan__title">
          План <nobr>SERP-скрапинга</nobr>
        </h3>
        <p class="label-l tariff-plan__text">
          Для новых пользователей у нас предусмотрено единовременное
          предложение. Вы можете приобрести 3 Гб премиальноого прокси-трафика
          всего за $6.
        </p>
      </slot>
    </div>

    <slot name="main-content">
      <div class="swiper tariff-plan__swiper" data-swiper-init>
        <div class="swiper-wrapper">
          <slot>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Mini"
                price="$20"
                token="10 000 запросов"
                color="grey"
              >
                <div class="tariff-card-desc">
                  <span class="label-l tariff-card-desc__subtitle"
                    >$2 за 1 тыс запросов</span
                  >
                  <span class="label-m tariff-card-desc__text">
                    другие тарифы →
                  </span>
                </div>
              </TariffCard>
            </div>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Starter"
                price="$45"
                token="25 000 запросов"
                color="grey"
              >
                <div class="tariff-card-desc">
                  <p
                    class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                  >
                    Сэкономьте 10%, заплатив $1.8 за 1 тыс. запросов.
                  </p>
                  <span class="label-m tariff-card-desc__text"
                    >по сравнению со Scraper Mini</span
                  >
                </div>
              </TariffCard>
            </div>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Basic"
                price="$80"
                token="50 000 запросов"
                color="grey"
              >
                <div class="tariff-card-desc">
                  <p
                    class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                  >
                    Сэкономьте 20%, заплатив $1.6 за 1 тыс. запросов.
                  </p>
                  <span class="label-m tariff-card-desc__text">
                    по сравнению со Scraper Mini
                  </span>
                </div>
              </TariffCard>
            </div>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Plus"
                price="$140"
                token="100 000 запросов"
                label="самый популярный"
                color="accent"
              >
                <div class="tariff-card-desc">
                  <p
                    class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                  >
                    Сэкономьте 30%, заплатив $1.4 за 1 тыс. запросов.
                  </p>
                  <span class="label-m tariff-card-desc__text">
                    по сравнению со Scraper Mini
                  </span>
                </div>
              </TariffCard>
            </div>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Pro"
                price="$250"
                token="200 000 запросов"
                color="grey"
              >
                <div class="tariff-card-desc">
                  <p
                    class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                  >
                    Сэкономьте  40%, заплатив $1.2 за 1 тыс. запросов.
                  </p>
                  <span class="label-m tariff-card-desc__text">
                    по сравнению со Scraper Mini
                  </span>
                </div>
              </TariffCard>
            </div>
            <div class="swiper-slide">
              <TariffCard
                title="Scraper Ultra"
                price="$400"
                token="400 000 запросов"
                label="лучшее предложение"
                color="white"
              >
                <div class="tariff-card-desc">
                  <p
                    class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                  >
                    Сэкономьте 50%, заплатив $1 за 1 тыс. запросов.
                  </p>
                  <span class="label-m tariff-card-desc__text">
                    по сравнению со Scraper Mini
                  </span>
                </div>
              </TariffCard>
            </div>
          </slot>
        </div>

        <IconBtn class="tariff-plan__swiper-btn" data-prev>
          <Sprite name="arrow-left" />
        </IconBtn>
        <IconBtn class="tariff-plan__swiper-btn" data-next>
          <Sprite name="arrow-right" />
        </IconBtn>
      </div>
    </slot>
  </div>
</section>
