.vbox-child {
  box-shadow: none;
  // pointer-events: none;
}

.vbox-close {
  display: none;
}

.vbox-container {
  padding: 0;
}

.vbox-content {
  padding: 4rem 2.4rem;

  @include breakpoint($xs-bp) {
    padding: 0;
  }
}