---
import OrderPopup from "@components/Popup/OrderPopup/OrderPopup.astro";
---

<OrderPopup>
  <div class="page-banner__head">
    <div class="page-banner-rate">
      <div class="page-banner-rate__inner">
        <img
          class="page-banner-rate__logo"
          src="./img/rate-logo-1.svg"
          alt=""
        />
        <div
          class="page-banner-rate__stars page-banner-rate__stars_v1"
          style="--rate: 90%"
        >
          <img src="./img/rate-stars-1.svg" alt="" />
        </div>
      </div>
      <div class="page-banner-rate__inner">
        <img
          class="page-banner-rate__logo"
          src="./img/rate-logo-2.svg"
          alt=""
        />
        <div
          class="page-banner-rate__stars page-banner-rate__stars_v2"
          style="--rate: 90%"
        >
          <img src="./img/rate-stars-2.svg" alt="" />
          <img src="./img/rate-stars-2_fill.svg" alt="" />
        </div>
      </div>
    </div>

    <h1 class="title-2 page-banner__title">Резидентские прокси</h1>
    <div class="template label-l c-grey-9 page-banner__text">
      <p>
        Избегайте блокировки при очистке и легко собирайте данные с помощью
        резидентных прокси-серверов MangoProxy.
      </p>
    </div>
  </div>

  <div class="template label-l page-banner__text">
    <ul>
      <li>Платите только за успешно достигнутый результат</li>
      <li>
        Получайте четко локализованные данные в реальном времени без
        IP-блокировок.
      </li>
      <li>Повышайте эффективность и сокращайте затраты на инфраструктуру</li>
    </ul>
  </div>

  <div class="order-popup-adv">
    <div class="order-popup-adv-item">
      <h4 class="title-4 order-popup-adv-item__title">Легко интегрировать</h4>
      <p class="label-l c-grey-9 order-popup-adv-item__text">
        Donec volutpat in dui nibh nam vitae malesuada. Mi eros in quam
        pellentesque ultrices. Tincidunt duis habitant imperdiet aliquam diam
        nunc in
      </p>
    </div>
    <div class="order-popup-adv-item">
      <h4 class="title-4 order-popup-adv-item__title">Легко интегрировать</h4>
      <p class="label-l c-grey-9 order-popup-adv-item__text">
        Donec volutpat in dui nibh nam vitae malesuada. Mi eros in quam
        pellentesque ultrices. Tincidunt duis habitant imperdiet aliquam diam
        nunc in
      </p>
    </div>
  </div>
</OrderPopup>
