---
import { Sprite } from "astro-icon";

interface Props extends astroHTML.JSX.HTMLAttributes {
  className?: string;
  placeholder?: string;
  label?: string;
  inputProps?: astroHTML.JSX.InputHTMLAttributes;
}

const { className, placeholder, label, inputProps = {}, ...rest } = Astro.props;
---

<div class="select" class:list={[className]} {...rest}>
  <input
    type="text"
    hidden
    data-input
    {...inputProps}
    {...inputProps.required && { "data-action": "required-text" }}
  />
  {label && <span class="text-caps select__label">{label}</span>}

  <button type="button" class="text-btn select__btn" data-btn>
    <span class="select__btn-text" data-btn-text>
      {placeholder}
    </span>
    <span class="select__btn-icon">
      <Sprite name="chevron-down" />
    </span>
  </button>

  <div class="select__container">
    <div class="select__inner">
      <slot />
    </div>
  </div>
</div>

<!-- <label class="text-btn select-item" data-item>
  <input hidden type="radio" name="1" />
  <span class="select-item__text" data-text></span>
</label> -->
