---
import { Sprite } from "astro-icon";

interface Reg {
  title: string;
  list: string[];
}

const regions: Reg[] = [
  {
    title: "Африка",
    list: [
      "Алжир",
      "Гана",
      "Того",
      "Ангола",
      "Гамбия",
      "Танзания",
      "Бенин",
      "Мавритания",
      "Тунис",
      "Ботсвана",
      "Марокко",
      "Замбия",
      "Буркина-Фасо",
      "Мозамбик",
      "Зимбабве",
      "Бурунди",
      "Намибия",
      "Уганда",
      "Свазиленд",
      "Нигер",
      "Гвинея",
      "Камерун",
      "Нигерия",
      "Гвинея Бисау",
      "Центральноафриканская Республика",
      "Республика Конго",
      "Берег Слоновой Кости",
      "Чад",
      "Руанда",
      "Кения",
      "Демократическая Республика Конго",
      "Сенегал",
      "Лесото",
      "Джибути",
      "Сьерра-Леоне",
      "Либерия",
      "Египет",
      "Судан",
      "Ливия",
      "Экваториальная Гвинея",
      "Сомали",
      "Мадагаскар",
      "Эритрея",
      "Сомалиленд",
      "Малави",
      "Эфиопия",
      "Южная Африка",
      "Мали",
      "Габон",
      "Южный Судан Того",
      "Танзания",
      "Тунис",
      "Замбия",
      "Зимбабве",
      "Уганда",
      "Гвинея",
      "Гвинея Бисау",
      "Берег Слоновой Кости",
      "Кения",
      "Лесото",
      "Либерия",
      "Ливия",
      "Мадагаскар",
      "Малави",
      "Мали",
    ],
  },
  {
    title: "Азия",
    list: [
      "Алжир",
      "Гана",
      "Того",
      "Ангола",
      "Гамбия",
      "Танзания",
      "Бенин",
      "Мавритания",
      "Тунис",
      "Ботсвана",
      "Марокко",
      "Замбия",
      "Буркина-Фасо",
      "Мозамбик",
      "Зимбабве",
      "Бурунди",
      "Намибия",
      "Уганда",
      "Свазиленд",
      "Нигер",
      "Гвинея",
      "Камерун",
      "Нигерия",
      "Гвинея Бисау",
      "Центральноафриканская Республика",
      "Республика Конго",
      "Чад",
      "Руанда",
      "Того",
      "Танзания",
      "Тунис",
      "Замбия",
      "Зимбабве",
      "Уганда",
      "Гвинея",
      "Гвинея Бисау",
    ],
  },
  {
    title: "Европа",
    list: [
      "Алжир",
      "Ангола",
      "Бенин",
      "Ботсвана",
      "Буркина-Фасо",
      "Бурунди",
      "Свазиленд",
      "Камерун",
      "Центральноафриканская Республика",
      "Чад",
      "Демократическая Республика Конго",
      "Джибути",
      "Египет",
      "Экваториальная Гвинея",
      "Эритрея",
      "Эфиопия",
      "Габон",
      "Гана",
      "Гамбия",
      "Мавритания",
      "Марокко",
      "Мозамбик",
      "Намибия",
      "Нигер",
      "Нигерия",
      "Республика Конго",
      "Руанда",
      "Сенегал",
      "Сьерра-Леоне",
      "Судан",
      "Сомали",
      "Сомалиленд",
      "Южная Африка",
      "Южный Судан",
      "Того",
      "Танзания",
      "Тунис",
      "Замбия",
      "Зимбабве",
      "Уганда",
      "Гвинея",
      "Гвинея Бисау",
      "Берег Слоновой Кости",
      "Кения",
      "Лесото",
      "Либерия",
      "Ливия",
      "Мадагаскар",
      "Малави",
      "Мали",
    ],
  },
  {
    title: "Океания",
    list: [
      "Австралия",
      "Фиджи",
      "Новая Каледония",
      "Новая Зеландия",
      "Папуа-Новая Гвинея",
      "Соломоновы Острова",
      "Вануату",
    ],
  },
  {
    title: "Южная Америка",
    list: [
      "Австралия",
      "Фиджи",
      "Новая Каледония",
      "Новая Зеландия",
      "Папуа-Новая Гвинея",
      "Соломоновы Острова",
      "Вануату",
    ],
  },
];
---

<section class="location-countries">
  <div class="container location-countries__container">
    <div class="location-countries__head">
      <h2 class="title-2 location-countries__title">Все страны</h2>
      <span class="label-l ip-geo__info">
        <Sprite name="flag" />
         Если нужной страны не найдется, мы оперативно решим эту проблему.
      </span>
    </div>
    <div class="location-countries__wrapper">
      {
        regions.map((region) => (
          <div class="location-countries__box">
            <h3 class="title-2 location-countries__box-title">
              {region.title}
            </h3>
            <div class="title-4 regular location-countries__list">
              <ul>
                {region.list.map((country) => (
                  <li>
                    <a href="#" class="hover:500">
                      {country}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
