---
interface Props {
  icon: string;
  title: string;
  label?: string;
  price?: string;
}

const { icon, title, label, price, ...rest } = Astro.props;
---

<a href="#" class="menu-link" {...rest}>
  <img src={icon} alt="" class="menu-link__icon" />
  <div class="menu-link__container">
    <div class="menu-link__inner">
      <span class="label-l bold menu-link__title">
        {title}
        {label && <span class="label-m regular label">{label}</span>}
      </span>
      <span class="label-l c-greu-7 menu-link__text">
        <slot />
      </span>
    </div>
    {price && <span class="label-l bold menu-link__price">{price}</span>}
  </div>
</a>
