---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Разводящая">
  <div class="page-container"></div>

  <style is:inline>
    .page-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding: 5rem 2rem;
    }
  </style>
</Layout>
