---
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Разводящая">
  <div class="page-container">
    <DefaultBtn component="a" href="./ui.html">UI</DefaultBtn>
    <DefaultBtn component="a" href="./main.html">Главная</DefaultBtn>
    <DefaultBtn component="a" href="./prod-rp.html">
      Продукт. Резидентские прокси
    </DefaultBtn>
    <DefaultBtn component="a" href="./prod-mp.html">
      Продукт. Мобильные прокси
    </DefaultBtn>
    <DefaultBtn component="a" href="./prod-isp.html">
      Продукт. Статические (ISP) прокси
    </DefaultBtn>
    <DefaultBtn component="a" href="./prod-serv.html">
      Продукт. Серверные прокси
    </DefaultBtn>
    <DefaultBtn component="a" href="./scraper-serp.html">
      Скрапер. SERP
    </DefaultBtn>
    <DefaultBtn component="a" href="./scraper-ec.html">
      Скрапер. E-commerce
    </DefaultBtn>
  </div>

  <style is:inline>
    .page-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding: 5rem 2rem;
    }
  </style>
</Layout>
