---
import Advantages from "@components/Advantages/Advantages.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import FAQ from "@components/FAQ/FAQ.astro";
import InfoBanner from "@components/InfoBanner/InfoBanner.astro";
import InfoSlider from "@components/InfoSlider/InfoSlider.astro";
import IPGeo from "@components/IPGeo/IPGeo.astro";
import PageBanner from "@components/PageBanner/PageBanner.astro";
import Price from "@components/Price/Price.astro";
import RPAdvantages from "@components/RPAdvantages/RPAdvantages.astro";
import RPInfo from "@components/RPInfo/RPInfo.astro";
import Tools from "@components/Tools/Tools.astro";
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Резидентские прокси">
  <Breadcrumbs items={["Главная", "Резидентские прокси"]} />

  <PageBanner img="./img/page-banner-2.svg">
    <div class="page-banner__content">
      <div class="page-banner-rate">
        <div class="page-banner-rate__inner">
          <img
            class="page-banner-rate__logo"
            src="./img/rate-logo-1.svg"
            alt=""
          />
          <div
            class="page-banner-rate__stars page-banner-rate__stars_v1"
            style="--rate: 90%"
          >
            <img src="./img/rate-stars-1.svg" alt="" />
          </div>
        </div>
        <div class="page-banner-rate__inner">
          <img
            class="page-banner-rate__logo"
            src="./img/rate-logo-2.svg"
            alt=""
          />
          <div
            class="page-banner-rate__stars page-banner-rate__stars_v2"
            style="--rate: 90%"
          >
            <img src="./img/rate-stars-2.svg" alt="" />
            <img src="./img/rate-stars-2_fill.svg" alt="" />
          </div>
        </div>
      </div>

      <h1 class="title-1 page-banner__title">Резидентские прокси</h1>
      <div class="template label-l page-banner__text">
        Избегайте блокировки при очистке и легко собирайте данные с помощью
        резидентных прокси-серверов MangoProxy.
        <br /><br />
        <ul>
          <li><b>100M+</b> Резидентные IP-адреса</li>
          <li><b>Бесплатно геотаргетинг</b></li>
          <li><b>∼99,95%</b> показатели успеха</li>
          <li><b>∼0.6 сек.</b> время ответа</li>
        </ul>
      </div>
    </div>

    <div class="page-banner__btns">
      <DefaultBtn color="secondary">Купить</DefaultBtn>
      <DefaultBtn
        icon
        component="a"
        href="https://dashboard.mangoproxy.com/quick-purchase"
        target="_blank"
      >
        Быстрый тест
      </DefaultBtn>
    </div>
  </PageBanner>

  <RPAdvantages />
  <IPGeo />
  <Price />
  <RPInfo />
  <Tools />
  <Advantages />
  <InfoBanner />
  <InfoSlider />
  <FAQ />
</Layout>
