---
import Advantages from "@components/Advantages/Advantages.astro";
import Breadcrumbs from "@components/Breadcrumbs/Breadcrumbs.astro";
import Cases from "@components/Cases/Cases.astro";
import FAQ from "@components/FAQ/FAQ.astro";
import InfoBanner from "@components/InfoBanner/InfoBanner.astro";
import IPGeo from "@components/IPGeo/IPGeo.astro";
import MPInfo from "@components/MPInfo/MPInfo.astro";
import PageBanner from "@components/PageBanner/PageBanner.astro";
import Pricing from "@components/Pricing/Pricing.astro";
import RPAdvantages from "@components/RPAdvantages/RPAdvantages.astro";
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Продукт. Datacenter прокси">
  <Breadcrumbs items={["Главная", "Datacenter прокси"]} />

  <PageBanner img="./img/page-banner-5.svg">
    <div class="page-banner__content">
      <div class="page-banner-rate">
        <div class="page-banner-rate__inner">
          <img
            class="page-banner-rate__logo"
            src="./img/rate-logo-1.svg"
            alt=""
          />
          <div
            class="page-banner-rate__stars page-banner-rate__stars_v1"
            style="--rate: 90%"
          >
            <img src="./img/rate-stars-1.svg" alt="" />
          </div>
        </div>
        <div class="page-banner-rate__inner">
          <img
            class="page-banner-rate__logo"
            src="./img/rate-logo-2.svg"
            alt=""
          />
          <div
            class="page-banner-rate__stars page-banner-rate__stars_v2"
            style="--rate: 90%"
          >
            <img src="./img/rate-stars-2.svg" alt="" />
            <img src="./img/rate-stars-2_fill.svg" alt="" />
          </div>
        </div>
      </div>

      <h1 class="title-1 page-banner__title">Datacenter прокси</h1>
      <div class="template label-l page-banner__text">
        Лучшие в отрасли показатели успеха и скорость, отсутствие скрытых
        комиссий и экономичные планы, предназначенные для парсинга больших
        объемов.
        <br /><br />
        <ul>
          <li>
            <b>Более 200 тысяч уникальных IP-адресов</b>
          </li>
          <li><b>99,9% времени</b> безотказной работы</li>
          <li>Безлимитный трафик</li>
          <li>Доступ <b>через API</b></li>
          <li>Выделенные <b>IP-адреса</b></li>
        </ul>
      </div>
    </div>

    <div class="page-banner__btns">
      <DefaultBtn color="secondary">Купить</DefaultBtn>
      <DefaultBtn
        icon
        component="a"
        href="https://dashboard.mangoproxy.com/ru/quick-purchase"
        target="_blank"
      >
        Быстрый тест
      </DefaultBtn>
    </div>
  </PageBanner>

  <RPAdvantages>
    <div class="rp-advantages-item">
      <img
        src="./img/icons/global.svg"
        alt=""
        class="rp-advantages-item__icon"
      />
      <h4 class="title-3 regular rp-advantages-item__title">Скорость</h4>
      <p class="label-m c-grey-8 rp-advantages-item__text">
        Каждый прокси-сервер центра обработки данных поступает с выделенного
        сервера с первоклассным подключением к Интернету и оборудованием.
        Они с большим отрывом превосходят любой другой прокси-сервер
        по скорости.
      </p>
    </div>
    <div class="rp-advantages-item">
      <img src="./img/icons/data.svg" alt="" class="rp-advantages-item__icon" />
      <h4 class="title-3 regular rp-advantages-item__title">Надежность</h4>
      <p class="label-m c-grey-8 rp-advantages-item__text">
        Все IP-адреса наших центров обработки данных получены от тщательно
        проверенных провайдеров, что позволяет нам добиться огромного времени
        безотказной работы в 99,9%, что делает их идеальными кандидатами
        для долгосрочного проекта.
      </p>
    </div>
    <div class="rp-advantages-item">
      <img
        src="./img/icons/result.svg"
        alt=""
        class="rp-advantages-item__icon"
      />
      <h4 class="title-3 regular rp-advantages-item__title">Цена</h4>
      <p class="label-m c-grey-8 rp-advantages-item__text">
        Все IP-адреса наших центров обработки данных получены от тщательно
        проверенных провайдеров, что позволяет нам добиться огромного времени
        безотказной работы в 99,9%, что делает их идеальными кандидатами
        для долгосрочного проекта.
      </p>
    </div>
  </RPAdvantages>
  <IPGeo />
  <InfoBanner>
    <div class="info-banner__content">
      <div class="info-banner__head">
        <h3 class="title-2 info-banner__title">
          Простое управление через панель дашборда
        </h3>
        <p class="label-l c-grey-9 info-banner__text">
          Через панель управления MangoProxy вы можете легко управлять
          использованием прокси. Будьте уверены, что ваши проекты парсинга
          веб-страниц никогда не остановятся неожиданно.
        </p>
      </div>

      <ul class="template label-l info-banner__list">
        <li>Следите за подробной статистикой использования прокси</li>
        <li>Создание и управление субпользователями</li>
        <li>Управление подпиской на прокси</li>
        <li>Белые списки IP-адресов</li>
      </ul>

      <DefaultBtn component="a" href="#" icon class="info-banner__btn">
        Зарегистрироваться
      </DefaultBtn>
    </div>
    <div class="info-banner__img">
      <img src="./img/main-api-card-1.png" alt="" />
    </div>
  </InfoBanner>
  <Pricing
    items={[
      {
        firstLabel: "от 1 IP",
        secondLabel: "",
        priceValue: "$1",
        priceLabel: "/ за один порт",
      },
      {
        firstLabel: "от 250 IP",
        secondLabel: "",
        priceValue: "$0,5",
        priceLabel: "/ за один порт",
      },
      {
        firstLabel: "от 500 IP",
        secondLabel: "",
        priceValue: "$0,3",
        priceLabel: "/ за один порт",
      },
    ]}
  />
  <Cases />
  <Advantages />
  <FAQ />
</Layout>
