---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import Layout from "../layouts/Layout.astro";
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import AdditionalBtn from "@components/_UI/AdditionalBtn/AdditionalBtn.astro";
import IntegrationLogo from "@components/_UI/IntegrationLogo/IntegrationLogo.astro";
import LocationItem from "@components/_UI/LocationItem/LocationItem.astro";
import MenuLink from "@components/_UI/MenuLink/MenuLink.astro";
import Tag from "@components/_UI/Tag/Tag.astro";
import TextInput from "@components/_UI/TextInput/TextInput.astro";
import icons from "src/icons.json";
import { Sprite } from "astro-icon";
---

<Layout title="Разводящая">
  <div class="page-container">
    <div class="box">
      <DefaultBtn
        component="a"
        href="./popup/quize-popup.html"
        data-vbox
        data-vbtype="ajax"
      >
        Quize
      </DefaultBtn>
      <DefaultBtn icon>Button</DefaultBtn>
      <DefaultBtn disabled icon>Button</DefaultBtn>
    </div>

    <div class="box">
      <DefaultBtn
        variant="stroke"
        component="a"
        href="./popup/order-popup-1.html"
        data-vbox
        data-vbtype="ajax"
      >
        Быстрый тест-форма 1
      </DefaultBtn>
      <DefaultBtn
        icon
        variant="stroke"
        variant="stroke"
        component="a"
        href="./popup/order-popup-2.html"
        data-vbox
        data-vbtype="ajax"
      >
        Быстрый тест-форма 2
      </DefaultBtn>
      <DefaultBtn
        icon
        variant="stroke"
        variant="stroke"
        component="a"
        href="./popup/order-popup-3.html"
        data-vbox
        data-vbtype="ajax"
      >
        Быстрый тест-форма 3
      </DefaultBtn>
      <DefaultBtn disabled icon variant="stroke">Button</DefaultBtn>
    </div>

    <div class="box">
      <DefaultBtn color="grey">Button</DefaultBtn>
      <DefaultBtn icon color="grey">Button</DefaultBtn>
      <DefaultBtn disabled icon color="grey">Button</DefaultBtn>
    </div>

    <div class="box">
      <DefaultBtn color="primary">Button</DefaultBtn>
      <DefaultBtn icon color="primary">Button</DefaultBtn>
      <DefaultBtn disabled icon color="primary">Button</DefaultBtn>
    </div>

    <div class="box">
      <DefaultBtn color="secondary">Button</DefaultBtn>
      <DefaultBtn icon color="secondary">Button</DefaultBtn>
      <DefaultBtn disabled icon color="secondary">Button</DefaultBtn>
    </div>
    <!--  -->
    <div class="box">
      <DefaultBtn size="medium">Button</DefaultBtn>
      <DefaultBtn variant="stroke" size="medium">Button</DefaultBtn>
      <DefaultBtn color="primary" size="medium">Button</DefaultBtn>
      <DefaultBtn color="secondary" size="medium">Button</DefaultBtn>

      <DefaultBtn icon size="medium">Button</DefaultBtn>
      <DefaultBtn icon variant="stroke" size="medium">Button</DefaultBtn>
      <DefaultBtn icon color="primary" size="medium">Button</DefaultBtn>
      <DefaultBtn icon color="secondary" size="medium">Button</DefaultBtn>
    </div>
    <div class="box">
      <DefaultBtn size="small">Button</DefaultBtn>
      <DefaultBtn variant="stroke" size="small">Button</DefaultBtn>
      <DefaultBtn color="primary" size="small">Button</DefaultBtn>
      <DefaultBtn color="secondary" size="small">Button</DefaultBtn>
      <DefaultBtn icon size="small">Button</DefaultBtn>
      <DefaultBtn icon variant="stroke" size="small">Button</DefaultBtn>
      <DefaultBtn icon color="primary" size="small">Button</DefaultBtn>
      <DefaultBtn icon color="secondary" size="small">Button</DefaultBtn>
    </div>

    <div class="box box_input">
      <TextInput placeholder="E-mail*" clear />
      <TextInput
        className="invalid"
        placeholder="E-mail*"
        clear
        error="Обязательное поле для заполнения"
      />
    </div>

    <div class="box">
      <IconBtn />
      <IconBtn disabled />
      <IconBtn color="secondary" />
      <IconBtn disabled color="secondary" />
    </div>
    <div class="box">
      <AdditionalBtn>Посмотреть все браузеры</AdditionalBtn>
      <AdditionalBtn disabled>Посмотреть все браузеры</AdditionalBtn>
      <AdditionalBtn size="small">Посмотреть все браузеры</AdditionalBtn>
      <AdditionalBtn disabled size="small">
        Посмотреть все браузеры
      </AdditionalBtn>
    </div>

    <IntegrationLogo img="./img/logo/logo-2.svg">GoLogin Proxy</IntegrationLogo>

    <LocationItem img="./img/flags/US.svg" title="США" text="439,886 IPs" />

    <LocationItem
      size="big"
      img="./img/flags/US.svg"
      title="США"
      text="439,886 IPs"
    />

    <MenuLink icon="./img/icons/SERP.svg" title="Скрапер. SERP">
      Глобальный пул, точный таргетинг и отсутствие контрактов
    </MenuLink>

    <Tag>Tag</Tag>

    <div class="icons">
      {icons.map((icon) => <Sprite name={icon} />)}
    </div>
  </div>

  <style is:inline>
    body {
      background-color: #686565;
    }
    .page-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3.2rem;
      padding: 5rem 2rem;
    }
    .box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
    }

    .box_input {
      width: 100%;
      max-width: 54.4rem;
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 1.6rem;
    }

    .icons svg {
      flex: none;
      width: 2.4rem;
      height: 2.4rem;
    }
  </style>
</Layout>
