---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import TariffCard from "@components/_UI/TariffCard/TariffCard.astro";
import { Sprite } from "astro-icon";

interface Props {}

const { ...rest } = Astro.props;
---

<section
  class="tariff-plan prices-serp-banner prices-web-banner"
  {...rest}
  data-tab-controller
>
  <div class="tariff-plan__bg"></div>
  <div class="container tariff-plan__container">
    <slot name="head">
      <div class="tariff-plan__head" slot="head">
        <h3 class="title-1 tariff-plan__title">Тарифы на API веб-скрейпера</h3>
        <p class="label-l tariff-plan__text">
          Для новых пользователей у нас предусмотрено единовременное
          предложение. Вы можете приобрести 3 Гб премиальноого прокси-трафика
          всего за $6.
        </p>
      </div>
    </slot>

    <div class="tariff-plan-tabs">
      <div class="tariff-plan-tabs__btns" data-tab-btns>
        <DefaultBtn
          type="button"
          class="tariff-plan-tabs__btn _active"
          data-tab-btn="1"
        >
          Обычный
        </DefaultBtn>
        <DefaultBtn
          type="button"
          class="tariff-plan-tabs__btn"
          data-tab-btn="2"
        >
          Для бизнеса
        </DefaultBtn>
      </div>

      <div class="swiper tariff-plan__swiper" data-tab="1" data-swiper-init>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <TariffCard />
          </div>
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Starter"
              price="$30"
              token="10 000 токенов"
              color="grey"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 25%, заплатив $3 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text"
                  >по сравнению со Scraper Mini</span
                >
              </div>
            </TariffCard>
          </div>
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Plus"
              price="$100"
              token="60 000 токенов"
              label="самый популярный"
              color="accent"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 58.3%, заплатив $1.67 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text">
                  по сравнению со Scraper Mini
                </span>
              </div>
            </TariffCard>
          </div>
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Ultra"
              price="$500"
              token="380 000 токенов"
              label="лучшее предложение"
              color="white"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 67%, заплатив $1.32 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text">
                  по сравнению со Scraper Mini
                </span>
              </div>
            </TariffCard>
          </div>
        </div>
        <IconBtn class="tariff-plan__swiper-btn" data-prev>
          <Sprite name="arrow-left" />
        </IconBtn>
        <IconBtn class="tariff-plan__swiper-btn" data-next>
          <Sprite name="arrow-right" />
        </IconBtn>
      </div>

      <div class="swiper tariff-plan__swiper" data-tab="2" data-swiper-init>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Plus"
              price="$100"
              token="60 000 токенов"
              label="самый популярный"
              color="accent"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 58.3%, заплатив $1.67 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text">
                  по сравнению со Scraper Mini
                </span>
              </div>
            </TariffCard>
          </div>
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Ultra"
              price="$500"
              token="380 000 токенов"
              label="лучшее предложение"
              color="white"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 67%, заплатив $1.32 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text">
                  по сравнению со Scraper Mini
                </span>
              </div>
            </TariffCard>
          </div>
          <div class="swiper-slide">
            <TariffCard />
          </div>
          <div class="swiper-slide">
            <TariffCard
              title="Scraper Starter"
              price="$30"
              token="10 000 токенов"
              color="grey"
            >
              <div class="tariff-card-desc">
                <p
                  class="label-m tariff-card-desc__text tariff-card-desc__text_fill"
                >
                  Сэкономьте 25%, заплатив $3 за 1 тыс. запросов.
                </p>
                <span class="label-m tariff-card-desc__text"
                  >по сравнению со Scraper Mini</span
                >
              </div>
            </TariffCard>
          </div>
        </div>
        <IconBtn class="tariff-plan__swiper-btn" data-prev>
          <Sprite name="arrow-left" />
        </IconBtn>
        <IconBtn class="tariff-plan__swiper-btn" data-next>
          <Sprite name="arrow-right" />
        </IconBtn>
      </div>
    </div>

    <div class="prices-serp-banner-info">
      <div class="prices-serp-banner-info__inner">
        <Sprite name="business" class="prices-serp-banner-info__icon" />
        <h3 class="title-3 regular prices-serp-banner-info__title">
          Вам нужно предложение с индивидуальной ценой?
        </h3>
        <p class="label-l c-grey-6 prices-serp-banner-info__text">
          Если вам нужна техническая консультация или у вас есть конкретная
          задача, вы можете отправить запрос в наш отдел продаж и получить
          личное предложение как можно скорее.
        </p>
      </div>

      <DefaultBtn
        onclick="Intercom('showNewMessage')"
        component="a"
        href="#"
        icon
      >
        Консультация
      </DefaultBtn>
    </div>
  </div>
</section>
