.info-item {
  padding: 2.4rem;
  background-color: $grey-12;
  border: 0.1rem solid $grey-9;
  border-radius: 0.8rem;
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  color: $white;

  @include breakpoint($xs-bp) {
    padding: 1.6rem 2.4rem;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    flex: none;
    width: 4rem;
    height: 4rem;
    color: $c-500;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @include breakpoint($xs-bp) {
      gap: 0.8rem;
    }
  }

  &__text {
    @include breakpoint($xs-bp) {
      @include label-s();
    }
  }
}