.mp-info {
  margin: 10rem 0;

  @include breakpoint($xs-bp) {
    margin: 5rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    @include breakpoint($xs-bp) {
      gap: 3.2rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include breakpoint($xs-bp) {
      gap: 1.6rem;
      width: calc(100% + 1.6rem);
      margin: 0rem -0.8rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @include breakpoint($xs-bp) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .rp-info-item {
      padding: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2.4rem;

      @include breakpoint($xs-bp) {
        padding: 2.4rem;
      }

      &__num {
        position: static;
      }

      &__container {
        flex: 1;
        gap: 2.4rem;
      }

      &__adv {
        max-width: 74rem;
      }
    }
  }
}

.mp-info-banner {
  margin: 0;

  .info-banner {
    &__container {
      gap: 2.4rem;

      @include breakpoint($xs-bp) {
        position: relative;
        padding-bottom: 29rem;
      }
    }

    &__content {
      position: relative;
      z-index: 1;
    }

    &__img {
      width: calc(100% - 9.5rem);
      height: 100%;
      position: relative;
      box-shadow: none;
      border-radius: 0;

      @include breakpoint($xs-bp) {
        position: absolute;
        height: 31rem;
        width: 100%;
        margin: 0;
        bottom: 0;
        left: 0;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-position: center;

        @include breakpoint($xs-bp) {
          object-position: center top;
        }
      }
    }
  }
}