---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";

interface Props {
  img?: string;
}

const { img = "./img/locations-banner-bg.svg" } = Astro.props;
---

<section class="case-banner locations-banner">
  <div class="container case-banner__container">
    <div class="case-banner__bg">
      <img src={img} alt="" />
    </div>

    <div class="case-banner__content">
      <div class="page-banner__content">
        <div class="page-banner-rate">
          <div class="page-banner-rate__inner">
            <img
              class="page-banner-rate__logo"
              src="./img/rate-logo-1_dark.svg"
              alt=""
            />
            <div
              class="page-banner-rate__stars page-banner-rate__stars_v1"
              style="--rate: 90%"
            >
              <img src="./img/rate-stars-1.svg" alt="" />
            </div>
          </div>
          <div class="page-banner-rate__inner">
            <img
              class="page-banner-rate__logo"
              src="./img/rate-logo-2_dark.svg"
              alt=""
            />
            <div
              class="page-banner-rate__stars page-banner-rate__stars_v2"
              style="--rate: 90%"
            >
              <img src="./img/rate-stars-2.svg" alt="" />
              <img src="./img/rate-stars-2_fill.svg" alt="" />
            </div>
          </div>
        </div>

        <h1 slot="content" class="title-1 page-banner__title">
          Прокси по местоположению
        </h1>
        <div slot="content" class="template label-l page-banner__text">
          При использовании прокси ваш IP-адрес заменяется на новый по вашему
          выбору, что полностью анонимизирует ваш доступ в Интернет.
          Прокси-серверы «Mango Proxy» для жилых помещений и центров обработки
          данных являются самыми быстрыми на рынке, обеспечивая время
          безотказной работы выше 99,9%. Мы уделяем особое внимание скорости,
          стабильности, безопасности и индивидуальному подходу для всех
          сценариев использования.
        </div>
      </div>

      <div class="page-banner__btns">
        <DefaultBtn
          component="a"
          href="https://dashboard.mangoproxy.com/ru/quick-purchase"
          target="_blank"
          icon
          class="cta-quick-purchase"
        >
          Быстрый тест
        </DefaultBtn>
      </div>
    </div>
  </div>
</section>
