---
import { Sprite } from "astro-icon";
import HeaderMenu from "./HeaderMenu/HeaderMenu.astro";
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";
---

<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="#" class="header__logo">
        <picture>
          <source media="(max-width: 600px)" srcset="./img/logo-min.svg" />
          <img src="./img/logo.svg" alt="" />
        </picture>
      </a>

      <HeaderMenu />

      <div class="header-btns">
        <div class="header-btns__inner">
          <button type="button" class="label-l hover:600 header-btns__login">
            Вход</button
          >
          <DefaultBtn size="small" class="header-btns__signup">
            Регистрация
          </DefaultBtn>
        </div>
        <a href="#" class="bold header-btns__lang">
          <Sprite name="global" />
           Ru
        </a>
        <button type="button" class="header-btns__menu" data-menu-btn>
          <Sprite name="burger" />
          <Sprite name="close" />
        </button>
      </div>
    </div>
  </div>
</header>
