---
import { Sprite } from "astro-icon";
import HeaderMenu from "./HeaderMenu/HeaderMenu.astro";
---

<header class="header">
  <div class="container">
    <div class="header__container">
      <a href="#" class="header__logo">
        <Sprite name="logo" />
      </a>

      <HeaderMenu />

      <div class="header__btns"></div>
    </div>
  </div>
</header>
