---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import { Sprite } from "astro-icon";
---

<section class="main-guarantee">
  <div class="main-guarantee__bg">
    <img src="./img/main-guarantee-bg.png" alt="" />
  </div>
  <div class="container main-guarantee__container">
    <div class="main-guarantee__head">
      <img
        src="./img/bubble-check.svg"
        alt=""
        class="main-guarantee__head-icon"
      />
      <h3 class="title-2 main-guarantee__title">Гарантия возврата</h3>
      <p class="label-l c-grey-6 main-guarantee__text">
        Вы можете ознакомиться с нашей политикой возврата средств перейдя
        <a class="underline" href="/refund" target="_blank"> по ссылке</a>
      </p>
    </div>

    <div class="main-guarantee-info">
      <div class="label-l main-guarantee-info-item">
        <Sprite name="rocket" />
         Легкая покупка в один клик
      </div>
      <div class="label-l main-guarantee-info-item">
        <Sprite name="schedule" />
         Пробный период по специальной цене
      </div>
      <div class="label-l main-guarantee-info-item">
        <Sprite name="credit-card" />
         Вернем деньги, если сервис не понравится
      </div>
    </div>

    <div class="main-guarantee__bottom">
      <p class="label-l uppercase main-guarantee__desc">
        Мы соответствуем современным стандартам безопасности
      </p>
      <DefaultBtn
        component="a"
        href="https://dashboard.mangoproxy.com/ru/quick-purchase"
        target="_blank"
        icon
      >
        Попробовать
      </DefaultBtn>
    </div>
  </div>
</section>
