---
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";
---

<section class="main-api">
  <div class="container main-api__container">
    <div class="main-api__content">
      <div class="main-api__head">
        <h3 class="title-2 main-api__title">Ускорьте разработку с нашим API</h3>
        <p class="label-l c-grey-9 main-api__text">
          Не тратьте время на сложную настройку. С помощью нашего API вы сможете
          быстро подключить прокси-сервис и сосредоточиться на ключевых задачах
          вашего проекта.
        </p>
      </div>
      <img src="./img/text-logo.svg" alt="" class="main-api__logo" />
    </div>

    <div class="main-api__list">
      <div class="main-api-card">
        <div class="main-api-card__container">
          <span class="main-api-card__num">[ 01 ]</span>
          <div class="main-api-card__head">
            <h5 class="title-3 regular main-api-card__title">Создайте ключ</h5>
            <p class="label-m c-grey-11 main-api-card__text">
              Создайте АПИ ключ в вашем личном кабинете всего за один клик
            </p>
          </div>
        </div>
        <div class="main-api-card__img">
          <img src="./img/main-api-card-1.png" alt="" />
        </div>
      </div>
      <div class="main-api-card">
        <div class="main-api-card__container">
          <span class="main-api-card__num">[ 02 ]</span>
          <div class="main-api-card__head">
            <h5 class="title-3 regular main-api-card__title">
              Авторизируйтесь
            </h5>
            <p class="label-m c-grey-11 main-api-card__text">
              Используйте АПИ ключ чтобы подключиться ко всем методам АПИ
            </p>
          </div>
        </div>
        <div class="main-api-card__img">
          <img src="./img/main-api-card-1.png" alt="" />
        </div>
      </div>
      <div class="main-api-card">
        <div class="main-api-card__container">
          <span class="main-api-card__num">[ 03 ]</span>
          <div class="main-api-card__head">
            <h5 class="title-3 regular main-api-card__title">Пользуйтесь</h5>
            <p class="label-m c-grey-11 main-api-card__text">
              Вам будет доступен абсолютно весь функционал вашего личного
              кабинета через удобное АПИ
            </p>
          </div>
          <DefaultBtn component="a" href="#" icon class="main-api-card__btn">
            Начать интеграцию
          </DefaultBtn>
        </div>
        <div class="main-api-card__img">
          <img src="./img/main-api-card-3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
