---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
---

<section class="locations-info">
  <div class="locations-info__bg">
    <img src="./img/locations-info-bg.svg" alt="" />
  </div>
  <div class="container locations-info__container">
    <h3 class="title-2 locations-info__title">
      Почему стоит выбрать <nobr>Mango Proxy</nobr> ?
    </h3>
    <div class="locations-info__content">
      <div class="template label-l locations-info__text">
        <p>
          Мы верим в полностью открытый Интернет, доступный для всех, без
          блокировок, определения приоритетов или любой другой формы
          дискриминации. Поскольку безопасность является нашим главным
          приоритетом, мы всегда делаем все возможное, чтобы обеспечить
          бесперебойную работу наших клиентов в любое время. Как мы знаем,
          информация — это самый ценный и конфиденциальный актив, и наша цель —
          всегда обеспечивать максимальную конфиденциальность, целостность и
          защиту информации. Мы не верим в компромиссы, поэтому адаптируем и
          совершенствуем наши решения, исходя из потребностей наших клиентов и
          рынка.
        </p>
        <br />
        <p>
          Мы верим в полностью открытый Интернет, доступный для всех, без
          блокировок, определения приоритетов или любой другой формы
          дискриминации. Поскольку безопасность является нашим главным
          приоритетом, мы всегда делаем все возможное, чтобы обеспечить
          бесперебойную работу наших клиентов в любое время. Как мы знаем,
          информация — это самый ценный и конфиденциальный актив, и наша цель —
          всегда обеспечивать максимальную конфиденциальность, целостность и
          защиту информации. Мы не верим в компромиссы, поэтому адаптируем и
          совершенствуем наши решения, исходя из потребностей наших клиентов и
          рынка.
        </p>
      </div>
      <DefaultBtn component="a" href="#" icon>Быстрый тест</DefaultBtn>
    </div>
  </div>
</section>
