---

---

<section class="location-speed">
  <div class="location-speed-item">
    <div class="location-speed-item__inner">
      <h3 class="title-3 location-speed-item__title">
        Средняя скорость загрузки:
      </h3>
      <p class="label-m c-grey-8 location-speed-item__text">
        Отличная скорлсть позволяет комфортно использовать сервисы без задержек
        и наслаждаться стабильной связью.
      </p>
    </div>
    <span class="title-2 location-speed-item__value">
      100 <nobr>Мбит/с</nobr>
    </span>
  </div>
  <div class="location-speed-item">
    <div class="location-speed-item__inner">
      <h3 class="title-3 location-speed-item__title">Средний пинг</h3>
      <p class="label-m c-grey-8 location-speed-item__text">
        Скорость загрузки обеспечивает быструю передачу данных, что гарантирует
        эффективную работу в сети.
      </p>
    </div>
    <span class="title-2 location-speed-item__value">20 мс</span>
  </div>
</section>
