---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
---

<section class="dev-banner">
  <div class="dev-banner__bg">
    <img src="./img/dev-banner-bg.png" alt="" />
  </div>
  <div class="container dev-banner__container">
    <div class="dev-banner__head">
      <h1 class="title-1 dev-banner__title">
        Добро пожаловать в Центр разработчиков Mango Proxy
      </h1>
      <p class="label-l c-grey-6 dev-banner__text">
        Здесь вы найдете всю техническую информацию, необходимую для плавного
        начала работы с прокси-решениями Mango и API-интерфейсами Scraper.
        Присоединяйтесь к нашему сообществу разработчиков, изучайте обучающие
        статьи в блогах и руководства по интеграции и извлекайте максимальную
        пользу из своего пути программирования.
      </p>
    </div>

    <DefaultBtn component="a" href="#" icon>Начать интеграцию</DefaultBtn>
  </div>
</section>
