---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import InfoItem from "@components/_UI/InfoItem/InfoItem.astro";
import { Sprite } from "astro-icon";
---

<section class="prices-mp-banner">
  <div class="container prices-mp-banner__container">
    <div class="prices-mp-banner__head">
      <h1 class="title-1 prices-mp-banner__title">
        Цены на мобильные прокси-серверы
      </h1>
      <p class="label-l prices-mp-banner__text">
        Цены, которые масштабируются вместе с вами.
      </p>
    </div>

    <div class="swiper prices-mp-banner__swiper" data-swiper-init>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="tariff-card tariff-card_grey">
            <span class="title-3 regular tariff-card__days">7 дней</span>
            <div class="tariff-card__top">
              <div class="tariff-card__head">
                <span class="tariff-card__price">
                  <div class="tariff-card__price-inner">
                    <span class="label-l tariff-card__price-desc">от</span>
                    <span class="title-2 tariff-card__price-value"> $18</span>
                    <span class="label-l tariff-card__price-desc">
                      / за один порт
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div class="tariff-card__bottom">
              <DefaultBtn component="a" href="#" icon class="tariff-card__btn">
                Купить
              </DefaultBtn>

              <div class="tariff-card-info">
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Неограниченная пропускная способность
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Более 10 млн качественных IP-адресов
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   API-доступ
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Поддержка 5G/4G/3G
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Auto Rotate Toggle
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tariff-card tariff-card_grey">
            <span class="title-3 regular tariff-card__days">30 дней</span>
            <div class="tariff-card__top">
              <div class="tariff-card__head">
                <span class="tariff-card__price">
                  <div class="tariff-card__price-inner">
                    <span class="label-l tariff-card__price-desc">от</span>
                    <span class="title-2 tariff-card__price-value"> $80</span>
                    <span class="label-l tariff-card__price-desc">
                      / за один порт
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div class="tariff-card__bottom">
              <DefaultBtn component="a" href="#" icon class="tariff-card__btn">
                Купить
              </DefaultBtn>

              <div class="tariff-card-info">
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Неограниченная пропускная способность
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Более 10 млн качественных IP-адресов
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   API-доступ
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Поддержка 5G/4G/3G
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Auto Rotate Toggle
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tariff-card tariff-card_grey">
            <span class="title-3 regular tariff-card__days">60 дней</span>
            <div class="tariff-card__top">
              <div class="tariff-card__head">
                <span class="tariff-card__price">
                  <div class="tariff-card__price-inner">
                    <span class="label-l tariff-card__price-desc">от</span>
                    <span class="title-2 tariff-card__price-value"> $160</span>
                    <span class="label-l tariff-card__price-desc">
                      / за один порт
                    </span>
                  </div>
                </span>
              </div>
            </div>
            <div class="tariff-card__bottom">
              <DefaultBtn component="a" href="#" icon class="tariff-card__btn">
                Купить
              </DefaultBtn>

              <div class="tariff-card-info">
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Неограниченная пропускная способность
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Более 10 млн качественных IP-адресов
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   API-доступ
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Поддержка 5G/4G/3G
                </span>
                <span class="label-l tariff-card-info__item">
                  <span class="tariff-card-info__icon">
                    <Sprite name="check" class="tariff-card-info__icon" />
                  </span>
                   Auto Rotate Toggle
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <IconBtn class="prices-mp-banner__swiper-btn" data-prev>
        <Sprite name="arrow-left" />
      </IconBtn>
      <IconBtn class="prices-mp-banner__swiper-btn" data-next>
        <Sprite name="arrow-right" />
      </IconBtn>
    </div>

    <div
      class="swiper pricing__info prices-mp-banner__info"
      data-swiper-init
      data-props={`{"slidesPerView":"auto","spaceBetween":8,"breakpoints":{"601":{"slidesPerView":3,"spaceBetween":24}}}`}
    >
      <div class="swiper-wrapper">
        <InfoItem
          class="swiper-slide"
          icon="percentage"
          title="Массовые скидки"
        >
          Увеличьте свою экономию, приобретая более длительные планы мобильных
          прокси, получая при этом все те же преимущества.
        </InfoItem>
        <InfoItem
          class="swiper-slide"
          icon="speed"
          title="Неограниченный трафик"
        >
          Увеличьте свою экономию, приобретая более длительные планы мобильных
          прокси, получая при этом все те же преимущества.
        </InfoItem>
        <InfoItem
          class="swiper-slide"
          icon="setting"
          title="Панель самообслуживания"
        >
          Увеличьте свою экономию, приобретая более длительные планы мобильных
          прокси, получая при этом все те же преимущества.
        </InfoItem>
      </div>
    </div>
  </div>
</section>
