---
import Tag from "@components/_UI/Tag/Tag.astro";
---

<section class="web-adv">
  <div class="container web-adv__container">
    <h2 class="title-2 web-adv__title">
      API Web Scraper для различных случаев использования в бизнесе
    </h2>

    <div class="web-adv__list">
      <div class="web-adv-item">
        <div class="web-adv-item__container">
          <h3 class="title-3 web-adv-item__title">
            Собрайте данные о недвижимости
          </h3>
          <div class="template label-l web-adv-item__text">
            <ul>
              <li>
                Изучите цены на недвижимость в режиме реального времени на
                различных платформах
              </li>
              <li>Сравните цены на анализ тенденций</li>
              <li>Анализ ставок аренды в зонах повышенного спроса</li>
              <li>Сделайте точную оценку стоимости недвижимости</li>
            </ul>
          </div>
        </div>
        <div class="web-adv-item__img">
          <img src="./img/web-adv-1.jpeg" alt="" />
        </div>
      </div>
      <div class="web-adv-item">
        <div class="web-adv-item__container">
          <h3 class="title-3 web-adv-item__title">
            Собирайте аналитические данные B2B
          </h3>
          <div class="web-adv-item__tags">
            <Tag>Crunchbase</Tag>
            <Tag>ZoomInfo</Tag>
            <Tag>AngelList</Tag>
            <Tag>Product Hunt</Tag>
          </div>
          <div class="template label-l web-adv-item__text">
            <ul>
              <li>
                Используйте профили компаний для привлечения потенциальных
                клиентов в B2B.
              </li>
              <li>
                Соберите важную информацию о бизнесе и объявления о вакансиях
              </li>
              <li>Определить потенциальных партнеров для сотрудничества</li>
              <li>Усилить усилия по развитию бизнеса</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="web-adv-item">
        <div class="web-adv-item__container">
          <h3 class="title-3 web-adv-item__title">
            Собрайте данные с развлекательных сайтов
          </h3>
          <div class="web-adv-item__tags">
            <Tag>Netflix</Tag>
            <Tag>Soundcloud</Tag>
            <Tag>Youtube</Tag>
            <Tag>IMDb</Tag>
          </div>
          <div class="template label-l web-adv-item__text">
            <ul>
              <li>
                Выясните предпочтения аудитории с помощью анализа тенденций
                контента.
              </li>
              <li>Изучите взаимодействие пользователей на разных веб-сайтах</li>
              <li>
                Тщательно контролируйте средства массовой информации на предмет
                предотвращения нарушения авторских прав.
              </li>
              <li>Сохранить целостность интеллектуальной собственности</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="web-adv-item">
        <div class="web-adv-item__container">
          <h3 class="title-3 web-adv-item__title">
            Извлечение данных туристической отрасли
          </h3>
          <div class="template label-l web-adv-item__text">
            <ul>
              <li>
                Собирайте в режиме реального времени цены на авиабилеты и
                проживание
              </li>
              <li>Отслеживайте и анализируйте доступность жилья</li>
              <li>
                Сравнивайте данные на разных платформах для уточнения стратегии.
              </li>
              <li>
                Анализируйте отзывы клиентов, чтобы получить ценную информацию
              </li>
            </ul>
          </div>
        </div>
        <div class="web-adv-item__img">
          <img src="./img/web-adv-2.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
