---
import Tag from "@components/_UI/Tag/Tag.astro";
import { Sprite } from "astro-icon";
---

<section class="case-info">
  <div class="container case-info__container">
    <div class="case-info__head">
      <h3 class="title-3 case-info__title">
        Каковы проблемы при парсинге <nobr>веб-страниц</nobr>?
      </h3>
      <p class="title-4 regular case-info__text">
        Парсинг веб-страниц сталкивается с несколькими серьезными проблемами:
        обнаружение ботов, географически ограниченный контент и высокие затраты
        на обслуживание. Большинство веб-сайтов имеют тенденцию блокировать
        скраперы для автоматической активности, что делает необходимость
        использования нескольких IP-адресов. Кроме того, к некоторому контенту
        можно получить доступ только из определенных мест, что делает широкое
        географическое разнообразие прокси-серверов для парсинга веб-страниц
        еще одной важной частью извлечения данных.
      </p>
    </div>

    <div class="case-info__list">
      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 01 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Более быстрый анализ данных с неограниченным количеством
              резидентных прокси
            </h4>
            <div class="rp-info-item__tags">
              <Tag>
                <Sprite name="check" />
                 2,5 млн+IP-адресов
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Переключатель автоматического поворота
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Город
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Поддержка 5G/4G/3G
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Поддержка SOCKS5
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Доступ через API
              </Tag>
            </div>
            <p class="lable-l c-grey-8 rp-info-item__text">
              Собирайте данные для исследований и масштабируйте свой бизнес с
              помощью неограниченного количества подключений и потоков для
              вашего любимого скрипта или приложения.
            </p>
          </div>
        </div>
      </div>

      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 02 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Поднимите исследования рынка на новый уровень с помощью домашних
              IP-адресов
            </h4>
            <div class="rp-info-item__tags">
              <Tag>
                <Sprite name="check" />
                 2,5 млн+IP-адресов
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Переключатель автоматического поворота
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Город
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Поддержка 5G/4G/3G
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Поддержка SOCKS5
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Доступ через API
              </Tag>
            </div>
            <p class="lable-l c-grey-8 rp-info-item__text">
              Если вы отправляете слишком много запросов за короткий промежуток
              времени с одного IP-адреса, ваш целевой веб-сайт может легко
              отследить и заблокировать вас или предоставить вводящую в
              заблуждение информацию.
            </p>
          </div>
        </div>
      </div>

      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 03 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Поднимите исследования рынка на новый уровень с помощью домашних
              IP-адресов
            </h4>
          </div>
          <div class="lable-l c-grey-9 rp-info-item__text">
            <p>
              Если вы отправляете слишком много запросов за короткий промежуток
              времени с одного IP-адреса, ваш целевой веб-сайт может легко
              отследить и заблокировать вас или предоставить вводящую в
              заблуждение информацию.
            </p>
            <br />
            <p>
              Чтобы ограничить вероятность блокировки или маскировки, вам
              следует избегать очистки одного и того же веб-сайта с одним
              IP-адресом и использовать сеть Smartproxy для масштабирования
              своих операций. Все планы включают ротацию прокси.
            </p>
          </div>
        </div>
      </div>

      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 04 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Поднимите исследования рынка на новый уровень с помощью домашних
              IP-адресов
            </h4>
          </div>
          <div class="lable-l c-grey-9 rp-info-item__text">
            <p>
              Если вы отправляете слишком много запросов за короткий промежуток
              времени с одного IP-адреса, ваш целевой веб-сайт может легко
              отследить и заблокировать вас или предоставить вводящую в
              заблуждение информацию.
            </p>
            <p>
              Чтобы ограничить вероятность блокировки или маскировки, вам
              следует избегать очистки одного и того же веб-сайта с одним
              IP-адресом и использовать сеть Smartproxy для масштабирования
              своих операций. Все планы включают ротацию прокси.
            </p>
          </div>
        </div>
      </div>

      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 05 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Более быстрый анализ данных с неограниченным количеством
              резидентных прокси
            </h4>
            <p class="lable-l c-grey-8 rp-info-item__text">
              Собирайте данные для исследований и масштабируйте свой бизнес с
              помощью неограниченного количества подключений и потоков для
              вашего любимого скрипта или приложения.
            </p>
            <div class="rp-info-item__tags">
              <Tag>
                <Sprite name="check" />
                 2,5 млн+IP-адресов
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Переключатель автоматического поворота
              </Tag>
              <Tag>
                <Sprite name="check" />
                 Поддержка 5G/4G/3G
              </Tag>
            </div>
          </div>
        </div>
      </div>

      <div class="rp-info-item">
        <span class="label-m rp-info-item__num">[ 06 ]</span>
        <div class="rp-info-item__container">
          <div class="rp-info-item__head">
            <h4 class="title-3 rp-info-item__title">
              Более быстрый анализ данных с неограниченным количеством
              резидентных прокси
            </h4>
            <p class="lable-l c-grey-8 rp-info-item__text">
              Собирайте данные для исследований и масштабируйте свой бизнес с
              помощью неограниченного количества подключений и потоков для
              вашего любимого скрипта или приложения.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
