---
import DefaultBtn from "@components/_UI/DefaultBtn/DefaultBtn.astro";
import IconBtn from "@components/_UI/IconBtn/IconBtn.astro";
import Tag from "@components/_UI/Tag/Tag.astro";
---

<section class="cases cases-banner">
  <div class="container cases__container">
    <h1 class="title-1 cases__title">Кейсы применения</h1>
    <div class="cases__list">
      <div class="cases-item">
        <div class="cases-item__head">
          <h4 class="title-3 regular cases-item__title">Веб скрапинг</h4>
          <p class="label-m c-grey-8 cases-item__desc">
            Высокая скорость и большая полоса пропускания, динамическая ротация
            и гибкое АПИ
          </p>
          <div class="cases-item__tags">
            <Tag>Мониторинг цен</Tag>
            <Tag>Динамика цен</Tag>
            <Tag>Мониторинг изменений на сайте</Tag>
            <Tag>Мониторинг рынка</Tag>
          </div>
        </div>

        <div class="cases-item__img">
          <img src="./img/cases-item-1.png" alt="" />
        </div>
        <div class="template label-l cases-item__info">
          <ul class="cases-item__info-list">
            <li>
              Наши прокси обеспечивают доступ к качественным IP-адресам, что
              снижает риск блокировок
            </li>
            <li>
              Наша уникальная инфраструктура помогает избежать капч и анти-бот
              систем, что делает сбор данных стабильным, беспрерывным и
              абсолютно безопасным
            </li>
            <li>
              Наш сервис обеспечивает доступ к гео-зависимым данным и
              информации, недоступной через стандартные прокси решения
            </li>
          </ul>
        </div>
        <DefaultBtn
          component="a"
          href="https://dashboard.mangoproxy.com/signup?from=landing_cta"
          target="_blank"
          icon
          class="cases-item__btn cta-quick-signup"
        >
          Быстрый тест
        </DefaultBtn>
      </div>
      <div class="cases-item">
        <div class="cases-item__head">
          <h4 class="title-3 regular cases-item__title">
            E-commerce
            <IconBtn component="a" href="#" />
          </h4>
          <p class="label-m c-grey-8 cases-item__desc">
            Большие пулы IP во всех популярных гео, гибкие тарифы на большие
            объемы.
          </p>
          <div class="cases-item__tags">
            <Tag>Мониторинг цен</Tag>
            <Tag>Динамика цен</Tag>
            <Tag>Мониторинг рынка</Tag>
          </div>
        </div>

        <div class="template label-l cases-item__info">
          <ul class="cases-item__info-list">
            <li>
              Позволит анализировать конкурентные предложения и ценовые
              изменения на рынке без риска блокировки
            </li>
            <li>
              Наши качественные пулы IP-адресов позволяют тестировать
              региональные настройки сайтов, проверять наличие товаров и их цены
              в разных странах
            </li>
          </ul>
        </div>
      </div>
      <div class="cases-item">
        <div class="cases-item__head">
          <h4 class="title-3 regular cases-item__title">SEO & SERP</h4>
          <p class="label-m c-grey-8 cases-item__desc">
            Точный гео таргетинг, высокий траст, динамическая ротация IP,
            высокая скорость работы
          </p>
          <div class="cases-item__tags">
            <Tag>Мониторинг цен</Tag>
            <Tag>Динамика цен</Tag>
            <Tag>Мониторинг рынка</Tag>
          </div>
        </div>

        <div class="template label-l cases-item__info">
          <ul class="cases-item__info-list">
            <li>
              Чистые результаты поиска, минуя блокировки и региональные фильтры
            </li>
            <li>
              Легко и без ограничений проверить и оптимизировать позиции сайта
              для конкретных регионов, что незаменимо для SEO-продвижения
            </li>
          </ul>
        </div>
      </div>
      <div class="cases-item">
        <div class="cases-item__head">
          <h4 class="title-3 regular cases-item__title">Автоматизация</h4>
          <p class="label-m c-grey-8 cases-item__desc">
            Новые пулы каждый день, приватные пулы с высоким трастом, быстрая
            загрузка популярных рекламных кабинетов Google Ads и Facebook Ads
            и социальных сетей.
          </p>
          <div class="cases-item__tags">
            <Tag>Мониторинг цен</Tag>
            <Tag>Динамика цен</Tag>
            <Tag>Мониторинг изменений на сайте</Tag>
            <Tag>Мониторинг рынка</Tag>
          </div>
        </div>

        <div class="cases-item__img">
          <img src="./img/cases-item-2.png" alt="" />
        </div>

        <div class="template label-l cases-item__info">
          <ul class="cases-item__info-list">
            <li>
              Снижают риск блокировок и повышают безопасность при работе с
              множеством учетных записей на любых платформах
            </li>
            <li>
              Позволяют избегать капч и ограничений, что делает автоматизацию
              более эффективной и быстрой.
            </li>
            <li>
              Качественные прокси делают вашу автоматизацию неотличимой от
              активности реальных пользователей
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
