.breadcrumbs {
  padding: 4rem 0rem 2.4rem;

  @include breakpoint($xs-bp) {
    padding: 1.6rem 0rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__link {
    &:not(:last-child) {
      padding-right: 1rem;
      border-right: 0.1rem solid $grey-7;
    }
  }

  // colors
  &_dark {
    color: $white;
    background-color: $grey-12;
  }
}