---
import DefaultBtn from "@components/UI/DefaultBtn/DefaultBtn.astro";

interface Props {
  img?: string;
}

const { img = "./img/page-banner-1.svg", ...rest } = Astro.props;
---

<section class="page-banner" class:list={[]} {...rest}>
  <div class="page-banner__img">
    <div class="page-banner__img-bg"></div>
    <img src={img} alt="" />
  </div>
  <div class="container page-banner__container">
    <slot>
      <div class="page-banner__content">
        <div class="page-banner-rate">
          <div class="page-banner-rate__inner">
            <img
              class="page-banner-rate__logo"
              src="./img/rate-logo-1.svg"
              alt=""
            />
            <div
              class="page-banner-rate__stars page-banner-rate__stars_v1"
              style="--rate: 90%"
            >
              <img src="./img/rate-stars-1.svg" alt="" />
            </div>
          </div>
          <div class="page-banner-rate__inner">
            <img
              class="page-banner-rate__logo"
              src="./img/rate-logo-2.svg"
              alt=""
            />
            <div
              class="page-banner-rate__stars page-banner-rate__stars_v2"
              style="--rate: 90%"
            >
              <img src="./img/rate-stars-2.svg" alt="" />
              <img src="./img/rate-stars-2_fill.svg" alt="" />
            </div>
          </div>
        </div>

        <h1 class="title-1 page-banner__title">
          Прокси, на которые можно положиться: резидентские, мобильные,
          серверные
        </h1>
        <div class="template label-l page-banner__text">
          Добро пожаловать на самую надежную платформу веб-данных в Интернете.
          <br /> Универсальный прокси-сервис с лучшей ценой на рынке $1 за 1 GB
        </div>
      </div>

      <div class="page-banner__btns">
        <DefaultBtn icon>Быстрый тест</DefaultBtn>
      </div>
    </slot>
  </div>
</section>
