---
interface Props {
  title?: string;
}

const {
  title = "Компании развивают свой бизнес с помощью резидентных прокси",
} = Astro.props;
---

<section class="info-slider">
  <div class="container">
    <h3 class="title-2 info-slider__title" set:html={title} />
  </div>

  <div
    class="swiper info-slider__swiper"
    data-swiper-init
    data-props={`{"slidesPerView":"auto","spaceBetween":8,"breakpoints":{"601":{"spaceBetween":24}}}`}
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide info-slider-card">
        <img
          src="./img/info-slider-1.svg"
          alt=""
          class="info-slider-card__img"
        />
        <div class="info-slider-card__container">
          <span class="label-m info-slider-card__num">[ 01 ]</span>
          <h3 class="title-3 regular info-slider-card__title">
            Обзор мониторинга
          </h3>
          <p class="template lable-l c-grey-9 info-slider-card__text">
            Используйте стабильную и надежную сеть резидентных прокси MangoProxy
            для мониторинга отзывов по всему миру без каких-либо IP-блокировок и
            капч.
          </p>
        </div>
      </div>
      <div class="swiper-slide info-slider-card">
        <img
          src="./img/info-slider-2.svg"
          alt=""
          class="info-slider-card__img"
        />
        <div class="info-slider-card__container">
          <span class="label-m info-slider-card__num">[ 02 ]</span>
          <h3 class="title-3 regular info-slider-card__title">
            Проверка объявления
          </h3>
          <p class="template lable-l c-grey-9 info-slider-card__text">
            Ротация резидентных прокси — наиболее эффективный инструмент для
            проверки того, как реклама отображается различным аудиториям по
            всему миру.
          </p>
        </div>
      </div>
      <div class="swiper-slide info-slider-card">
        <img
          src="./img/info-slider-3.svg"
          alt=""
          class="info-slider-card__img"
        />
        <div class="info-slider-card__container">
          <span class="label-m info-slider-card__num">[ 03 ]</span>
          <h3 class="title-3 regular info-slider-card__title">
            Кибербезопасность
          </h3>
          <p class="template lable-l c-grey-9 info-slider-card__text">
            Резидентные IP-адреса отлично подходят для выявления угроз,
            тестирования приложений или мониторинга веб-сайтов в разных местах.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
