---
import { Sprite } from "astro-icon";
---

<section class="info-cloud">
  <div class="container">
    <div class="info-cloud__container">
      <h3 class="info-cloud__title">Любимые функции клиентов</h3>
      <div class="info-cloud__list" data-cloud>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           72 млн+ надежных резидентных IP-адресов
        </div>
        <div class="info-cloud-el info-cloud-el_dark" data-item>
          <Sprite name="check-fill" />
           Простой в использовании прокси-менеджер
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Лучшая в отрасли поддержка клиентов
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Протокол SOCKS5 с прокси-менеджером
        </div>
        <div class="info-cloud-el info-cloud-el_dark" data-item>
          <Sprite name="check-fill" />
           Стабильность и скорость, проверенные на практике
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Общие и выделенные IP-адреса
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Соблюдение этических норм
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Самый большой географический охват
        </div>
        <div class="info-cloud-el info-cloud-el_dark" data-item>
          <Sprite name="check-fill" />
           Удобная панель управления и API
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Расширенный контроль сеансов
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Бесплатный таргетинг по странам, городам, почтовым индексам и уровням
          ASN
        </div>
      </div>
      <div class="info-cloud__list info-cloud__list_mob">
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           72 млн+ надежных <br /> резидентных IP-адресов
        </div>
        <div class="info-cloud-el info-cloud-el_dark" data-item>
          <Sprite name="check-fill" />
           Стабильность и скорость, <br /> проверенные на практике
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Лучшая в отрасли <br /> поддержка клиентов
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Соблюдение <br /> этических норм
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Протокол SOCKS5 с прокси-менеджером
        </div>
        <div class="info-cloud-el info-cloud-el_dark" data-item>
          <Sprite name="check-fill" />
           Удобная панель <br /> управления и API
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Общие и выделенные <br /> IP-адреса
        </div>
        <div class="info-cloud-el" data-item>
          <Sprite name="check-fill" />
           Расширенный <br /> контроль сеансов
        </div>
      </div>
    </div>
  </div>
</section>
